<div class="article-analysis-container">
  <aside >
    <div class="title">
      <h1>자료 분석</h1>
      <h2>내 보관 자료</h2>
    </div>
    <div class="outline">
      <section *ngIf="isSavedDocsLoaded && !isSavedDocsEmpty" class="saved-document-list">
        <ul>
          <li *ngFor="let doc of savedDocs; index as idx">
            <input
              class="checkbox"
              type="checkbox"
              (change)="addDocToAnalysis(idx)"
              id="{{ idx }}"
            />
            <label for="{{ idx }}"> {{ doc["title"] }}</label>
          </li>
        </ul>
        <div class="page-numbers">
          <button
            id="page-multiprev"
            *ngIf="currentPage > 1"
            (click)="loadSavedDocs(pageInfo.currentPage - 10)"
          ></button>
          <button
            id="page-prev"
            *ngIf="currentPage > 1"
            (click)="loadSavedDocs(currentPage - 1)"
          ></button>
          <button
            [ngStyle]="{ 'background-color': currentPage == i ? '#52b9ff' : 'transparent', color: currentPage == i ? 'white' : 'black'}"
            (click)="loadSavedDocs(i)"
            *ngFor="let i of pages"
          >
            {{ i }}
          </button>
          <button
            id="page-next"
            *ngIf="currentPage < pageInfo.endPage"
            (click)="loadSavedDocs(pageInfo.currentPage + 1)"
          ></button>
          <button
            id="page-multinext"
            *ngIf="currentPage != pageInfo.endPage"
            (click)="loadSavedDocs(pageInfo.currentPage + 10)"
          ></button>
        </div>
      </section>
      <p *ngIf="isSavedDocsEmpty" class="saved-document-list no-saved-doc">저장된 문서가 없습니다.</p>
    </div>
  </aside>

  <main class="article-analysis">
    <div class="select-outline">
      <section class="select-analysis">
        <form class="select-analysis-form">
          <div class="select-analysis-up-menu">
            <div class="select-analysis-type">
              <h3>원하는 분석 선택</h3>
              <input
                [ngStyle]="selectedStyleObject(selectedAnalysisType === 0, 0)"
                (click)="setAnalysisType(0)"
                type="button"
                value="키워드 분석"
                name="type"
                class="analysis-keyword"
              />
              <input
                [ngStyle]="selectedStyleObject(selectedAnalysisType === 1, 1)"
                (click)="setAnalysisType(1)"
                type="button"
                value="연관문서"
                name="type"
                class="analysis-related"
              />
            </div>
            <div class="select-analysis-graph">
              <h3>원하는 그래프 선택</h3>
              <input
                [ngStyle]="selectedStyleObject(selectedChartType === 0, 2)"
                (click)="setChartType(0)"
                type="button"
                value="도넛형"
                name="graph"
                class="doughnut-chart"
              />
              <input
                [ngStyle]="selectedStyleObject(selectedChartType === 1, 3)"
                (click)="setChartType(1)"
                type="button"
                value="꺾은선형"
                name="graph"
                class="line-chart"
              />
              <input
                [ngStyle]="selectedStyleObject(selectedChartType === 2, 4)"
                (click)="setChartType(2)"
                type="button"
                value="워드클라우드"
                name="graph"
                class="word-chart"
              />
              <input
                [ngStyle]="selectedStyleObject(selectedChartType === 3, 5)"
                (click)="setChartType(3)"
                type="button"
                value="세로막대형"
                name="graph"
                class="bar-chart"
              />
            </div>
          </div>
          <div class="select-analysis-down-menu">
            <div class="select-analysis-data-num">
              <h3>출력할 데이터의 숫자</h3>
              <select
                [ngStyle]="selectedStyleObject(selectedDataNum !== 0, null)"
                (change)="setSelectedDataNum($event.target.value)"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
            <div class="submit-container">
              <input
                (click)="generateChartAnalysisResult()"
                type="submit"
                value="분석"
              />
              <input (click)="resetSelections()" type="reset" value="재설정" />
            </div>
          </div>
        </form>
      </section>
    </div>

    <div class="result-outline">
      <section *ngIf="isChartLoaded" class="analysis-result">
        <button>내 분석함에 담기</button>
        <canvas
          baseChart
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [legend]="chartLegend"
        >
        </canvas>
      </section>
      <section *ngIf="!isChartLoaded" class="analysis-result no-result">
        <p>분석유형, 그래프유형, 데이터 개수를 선택해주세요</p>
      </section>
    </div>
  </main>
</div>
