<div class="register-container">
  <div class="register">
    <img src="../../../../../assets/logos/logo_main.png" alt="kubic_logo" />
    <form
      class="form-field"
      [formGroup]="registerForm"
      (ngSubmit)="registerUser()"
    >
      <section class="policy-box">
        <p class="policy-title">{{'collected-info.dataPolicy'|translate}}</p>
        <div class="policy-cont" tabindex="0">
          <strong>
          {{'collected-info.dataPolicy1'|translate}}
          </strong>
          <br />
          {{'collected-info.dataPolicy1-1'|translate}}
          <br/>
          &nbsp;&nbsp;&nbsp;
          {{'collected-info.dataPolicy1-1-1'|translate}}<br />
          {{'collected-info.dataPolicy1-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;
          {{'collected-info.dataPolicy1-2-1'|translate}}<br />
          {{'collected-info.dataPolicy1-3'|translate}}
          <br /><br />

          <strong>
            {{'collected-info.dataPolicy2'|translate}}
          </strong>
          <br />

          {{'collected-info.dataPolicy2-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;
          {{'collected-info.dataPolicy2-1-1'|translate}}
          {{'collected-info.dataPolicy2-1-2'|translate}}<br />

          {{'collected-info.dataPolicy2-2'|translate}}
          <br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy2-2-1'|translate}}
          <br /><br />

          <strong>{{'collected-info.dataPolicy3'|translate}}</strong><br />

          {{'collected-info.dataPolicy3-1'|translate}}
          <br /><br />
          <strong>{{'collected-info.dataPolicy4'|translate}}</strong><br />

          {{'collected-info.dataPolicy4-1'|translate}}
          <br />
          {{'collected-info.dataPolicy4-2'|translate}}
          <br />
          {{'collected-info.dataPolicy4-3'|translate}}
          <br /><br />

          <strong>{{'collected-info.dataPolicy5'|translate}}</strong><br />

          {{'collected-info.dataPolicy5-1'|translate}}
          <br />

          <strong>{{'collected-info.dataPolicy6'|translate}}</strong><br />

          {{'collected-info.dataPolicy6-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;-{{'collected-info.dataPolicy6-1-1'|translate}}<br />
          {{'collected-info.dataPolicy6-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-2-1'|translate}}<br />
          {{'collected-info.dataPolicy6-3'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-3-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-3-2'|translate}}<br />
          {{'collected-info.dataPolicy6-4'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-4-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-4-2'|translate}}<br />
          {{'collected-info.dataPolicy6-5'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-5-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-5-2'|translate}}<br />
          {{'collected-info.dataPolicy6-6'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-6-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-6-2'|translate}}<br />
          {{'collected-info.dataPolicy6-7'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-7-1'|translate}}<br />
          {{'collected-info.dataPolicy6-8'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-8-1'|translate}}<br /><br />

          <strong>{{'collected-info.dataPolicy7'|translate}}</strong><br />

          {{'collected-info.dataPolicy7-0'|translate}}<br />
          {{'collected-info.dataPolicy7-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-3'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-4'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-5'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-6'|translate}} <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-7'|translate}}<br />
          {{'collected-info.dataPolicy7-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-2-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-2-2'|translate}}<br /><br />
        </div>
        <label for="agreement1-check"
          ><input
            type="checkbox"
            id="agreement1-check"
            formControlName="policy1Agreed"
          />
          {{'register.doYouAgree'|translate}}</label
        >
      </section>
      <section class="policy-box">
        <p class="policy-title">{{'navbar.accountPolicy'|translate}}</p>
        <div class="policy-cont" tabindex="0">
          <strong>{{'member-policy.accountPolicy1'|translate}}</strong><br />
          {{'member-policy.accountPolicy1-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy2'|translate}}</strong><br />
          {{'member-policy.accountPolicy2-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy3'|translate}}</strong><br />
          {{'member-policy.accountPolicy3-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy4'|translate}}</strong><br />
          {{'member-policy.accountPolicy4-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy5'|translate}}</strong><br />
          {{'member-policy.accountPolicy5-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy6'|translate}}</strong><br />
          {{'member-policy.accountPolicy6-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy7'|translate}}</strong><br />
          {{'member-policy.accountPolicy7-1'|translate}}<br />
          {{'member-policy.accountPolicy7-2'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy8'|translate}}</strong><br />
          {{'member-policy.accountPolicy8-1'|translate}}<br />
          {{'member-policy.accountPolicy8-2'|translate}}<br />
          {{'member-policy.accountPolicy8-3'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy9'|translate}}</strong><br />
          {{'member-policy.accountPolicy9-1'|translate}}<br />
          {{'member-policy.accountPolicy9-2'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy10'|translate}}</strong><br />
          {{'member-policy.accountPolicy10-1'|translate}}<br />
          {{'member-policy.accountPolicy10-2'|translate}}<br />
          {{'member-policy.accountPolicy10-3'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy11'|translate}}</strong><br />
          {{'member-policy.accountPolicy11-1'|translate}}<br />
          {{'member-policy.accountPolicy11-2'|translate}}<br />
          {{'member-policy.accountPolicy11-3'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy12'|translate}}</strong><br />
          {{'member-policy.accountPolicy12-1'|translate}}<br /><br />

          <strong>{{'member-policy.accountPolicy13'|translate}}</strong><br />
          {{'member-policy.accountPolicy13-1'|translate}}
        </div>

        <label for="agreement2-check"
          ><input
            type="checkbox"
            id="agreement2-check"
            formControlName="policy2Agreed"
          />
          {{'register.doYouAgree'|translate}}</label
        >
      </section>
      <section class="info-input">
        <div class="field status-field">
          <select formControlName="status">
            <option class="dropdown-default" value="">
              {{'register.occupation'|translate}}
            </option>
            <option *ngFor="let status of statusList">{{ status |translate}}</option>
          </select>
          <div
            class="required"
            *ngIf="
              registerForm.get('status').touched &&
              registerForm.get('status').errors?.required
            "
          >
            {{'register.occupation'|translate}}
          </div>
        </div>
        <div class="field inst-field">
          <input
            formControlName="inst"
            placeholder="{{'소속기관'|translate}}"
          />
          <div
            class="required"
            *ngIf="
              registerForm.get('inst').touched &&
              registerForm.get('inst').errors?.required
            "
          >

          </div>
        </div>
        <div class="buttons">
          <button
            class="submit-button"
            [disabled]="!registerForm.valid"
            type="submit"
          >
            {{'register.doGoogle'|translate}}
          </button>
        </div>
      </section>
    </form>
  </div>
</div>
