<div class="register-container">
  <div class="register">
    <img src="../../../../../assets/logos/logo_main.png" alt="kubic_logo" />
    <form
      class="form-field"
      [formGroup]="registerForm"
      (ngSubmit)="registerUser()"
    >
      <section class="policy-box">
        <p class="policy-title">{{'dataPolicy'|translate}}</p>
        <div class="policy-cont" tabindex="0">
          <strong>
          {{'dataPolicy1'|translate}}
          </strong>
          <br />
          {{'dataPolicy1-1'|translate}}
          <br/>
          &nbsp;&nbsp;&nbsp;
          {{'dataPolicy1-1-1'|translate}}<br />
          {{'dataPolicy1-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;
          {{'dataPolicy1-2-1'|translate}}<br />
          {{'dataPolicy1-3'|translate}}
          <br /><br />

          <strong>
            {{'dataPolicy2'|translate}}
          </strong>
          <br />

          {{'dataPolicy2-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;
          {{'dataPolicy2-1-1'|translate}}
          {{'dataPolicy2-1-2'|translate}}<br />

          {{'dataPolicy2-2'|translate}}
          <br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy2-2-1'|translate}}
          <br /><br />

          <strong>{{'dataPolicy3'|translate}}</strong><br />

          {{'dataPolicy3-1'|translate}}
          <br /><br />
          <strong>{{'dataPolicy4'|translate}}</strong><br />

          {{'dataPolicy4-1'|translate}}
          <br />
          {{'dataPolicy4-2'|translate}}
          <br />
          {{'dataPolicy4-3'|translate}}
          <br /><br />

          <strong>{{'dataPolicy5'|translate}}</strong><br />

          {{'dataPolicy5-1'|translate}}
          <br />

          <strong>{{'dataPolicy6'|translate}}</strong><br />

          {{'dataPolicy6-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;-{{'dataPolicy6-1-1'|translate}}<br />
          {{'dataPolicy6-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-2-1'|translate}}<br />
          {{'dataPolicy6-3'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-3-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy6-3-2'|translate}}<br />
          {{'dataPolicy6-4'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-4-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy6-4-2'|translate}}<br />
          {{'dataPolicy6-5'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-5-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy6-5-2'|translate}}<br />
          {{'dataPolicy6-6'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-6-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy6-6-2'|translate}}<br />
          {{'dataPolicy6-7'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-7-1'|translate}}<br />
          {{'dataPolicy6-8'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy6-8-1'|translate}}<br /><br />

          <strong>{{'dataPolicy7'|translate}}</strong><br />

          {{'dataPolicy7-0'|translate}}<br />
          {{'dataPolicy7-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-3'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-4'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-5'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-6'|translate}} <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-1-7'|translate}}<br />
          {{'dataPolicy7-2'|translate}}<br />
          &nbsp;&nbsp;&nbsp;{{'dataPolicy7-2-1'|translate}}<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'dataPolicy7-2-2'|translate}}<br /><br />
        </div>
        <label for="agreement1-check"
          ><input
            type="checkbox"
            id="agreement1-check"
            formControlName="policy1Agreed"
          />
          {{'doYouAgree'|translate}}</label
        >
      </section>
      <section class="policy-box">
        <p class="policy-title">{{'accountPolicy'|translate}}</p>
        <div class="policy-cont" tabindex="0">
          <strong>{{'accountPolicy1'|translate}}</strong><br />
          {{'accountPolicy1-1'|translate}}<br /><br />

          <strong>{{'accountPolicy2'|translate}}</strong><br />
          {{'accountPolicy2-1'|translate}}<br /><br />

          <strong>{{'accountPolicy3'|translate}}</strong><br />
          {{'accountPolicy3-1'|translate}}<br /><br />

          <strong>{{'accountPolicy4'|translate}}</strong><br />
          {{'accountPolicy4-1'|translate}}<br /><br />

          <strong>{{'accountPolicy5'|translate}}</strong><br />
          {{'accountPolicy5-1'|translate}}<br /><br />

          <strong>{{'accountPolicy6'|translate}}</strong><br />
          {{'accountPolicy6-1'|translate}}<br /><br />

          <strong>{{'accountPolicy7'|translate}}</strong><br />
          {{'accountPolicy7-1'|translate}}<br />
          {{'accountPolicy7-2'|translate}}<br /><br />

          <strong>{{'accountPolicy8'|translate}}</strong><br />
          {{'accountPolicy8-1'|translate}}<br />
          {{'accountPolicy8-2'|translate}}<br />
          {{'accountPolicy8-3'|translate}}<br /><br />

          <strong>{{'accountPolicy9'|translate}}</strong><br />
          {{'accountPolicy9-1'|translate}}<br />
          {{'accountPolicy9-2'|translate}}<br /><br />

          <strong>{{'accountPolicy10'|translate}}</strong><br />
          {{'accountPolicy10-1'|translate}}<br />
          {{'accountPolicy10-2'|translate}}<br />
          {{'accountPolicy10-3'|translate}}<br /><br />

          <strong>{{'accountPolicy11'|translate}}</strong><br />
          {{'accountPolicy11-1'|translate}}<br />
          {{'accountPolicy11-2'|translate}}<br />
          {{'accountPolicy11-3'|translate}}<br /><br />

          <strong>{{'accountPolicy12'|translate}}</strong><br />
          {{'accountPolicy12-1'|translate}}<br /><br />

          <strong>{{'accountPolicy13'|translate}}</strong><br />
          {{'accountPolicy13-1'|translate}}
        </div>

        <label for="agreement2-check"
          ><input
            type="checkbox"
            id="agreement2-check"
            formControlName="policy2Agreed"
          />
          {{'doYouAgree'|translate}}</label
        >
      </section>
      <section class="info-input">
        <div class="field status-field">
          <select formControlName="status">
            <option class="dropdown-default" value="">
              {{'occupation'|translate}}
            </option>
            <option *ngFor="let status of statusList">{{ status }}</option>
          </select>
          <div
            class="required"
            *ngIf="
              registerForm.get('status').touched &&
              registerForm.get('status').errors?.required
            "
          >
            {{'occupation'|translate}}
          </div>
        </div>
        <div class="field inst-field">
          <input
            formControlName="inst"
            placeholder="소속된 기관을 입력해주세요."
          />
          <div
            class="required"
            *ngIf="
              registerForm.get('inst').touched &&
              registerForm.get('inst').errors?.required
            "
          >
            {{'Type the name of your organization'|translate}}
          </div>
        </div>
        <div class="buttons">
          <button
            class="submit-button"
            [disabled]="!registerForm.valid"
            type="submit"
          >
            {{'doGoogle'|translate}}
          </button>
        </div>
      </section>
    </form>
  </div>
</div>
