<!-- TODO -->
<form *ngIf="!isSavedKeywordsEmpty" [formGroup]="form" novalidate>
    <section *ngIf="isSavedKeywordsLoaded" class="keyword-group">
      <div *ngFor="let key of savedKeywords; index as idx">
        <button (click)="currentKeywordAndDate(key.keyword,key.savedDate)">
          {{ key.keyword }} {{ key.savedDate | date:'YYYY-M-d H:m:s' }}
        </button>
      </div>
    </section>
</form>

<div class="outline">
<form *ngIf="!isSavedChartsEmpty" [formGroup]="form" novalidate>
  <div class="upside">
    <div class="upside2">
      <label>
        <input
          class="chart-checkbox toggle-all"
          type="checkbox"
          (change)="onCheckboxChange($event)"
          value="toggleAll"
        />전체선택
      </label>
    </div>
    <div class="upside3">
        <button (click)="deleteSelectedCharts()">선택삭제</button>
        <!--전체삭제-->
    </div>
  
  </div>
  <section *ngIf="isSavedChartsLoaded" class="thumbnail">
    <div *ngFor = "let chart of charts; index as idx" class="col-sm-6 col-md-6 col-lg-6">
      <input
        class="chart-checkbox"
        type="checkbox"
        [(checked)]="chart.isSelected"
        name="selectChart"
        [value]="chart['analysisDate']"
        (change)="onCheckboxChange($event)"
      />      
      <button (click)="showDetail()">
        <img [src]="chart.chartImg">
        <div>
          분석 유형: {{ chart | myAnalysisPipe }}<br>
          <!--분석조건-->
          분석 날짜: {{ chart.analysisDate | date:'YYYY-M-d'}}
        </div>
      </button>
    </div>
  </section>
</form>