<div class="content-container">
  <app-analysis-menu></app-analysis-menu>

  <section class="content">
  <app-savedDocForAnalysis (sender)='onMessage($event)'></app-savedDocForAnalysis>

    <div class="pop-container">
      <div class="pop-block">
        <div class="pop-head" (click)="showPop('count')">빈도수 분석</div>
        <div class="pop-body" id="count">
          분석할 단어수: <input type="text" value="100">
          <button (click)="runAnalysis('count')">분석 실행</button>
      </div>
    </div>

    <div class="pop-block" (click)="showPop('tfidf')">
      <div class="pop-head">TFIDF</div>
      <div class="pop-body" id="tfidf">
        tfidf 옵션들!
        
        <button (click)="runAnalysis('tfidf')">분석 실행</button>
      </div>
    </div>
    
      <div class="pop-block">
        <div class="pop-head">군집분석</div>
        <div class="pop-body" id="bindo">
      </div>
    </div>

    <div class="pop-block">
      <div class="pop-head">토픽 모델링</div>
      <div class="pop-body" id="bindo">
      </div>
    </div>

    <div class="pop-block">
      <div class="pop-head">N-gram</div>
      <div class="pop-body" id="bindo">

      </div>
    </div>

    <div class="pop-block">
      <div class="pop-head">유의어분석</div>
    </div>
    
    <div class="pop-block">
      <div class="pop-head">의미연결망</div>
    </div>
    
    <div class="pop-block">
      <div class="pop-head">개체명인식</div>
    </div>

  </div>
  
  </section>
</div>
