<header>
  <div class="left">
    <a
       class="all"
       (click)="selectMobileMenu()"
    > all menu</a>
    <div [ngClass]="isSelectMobileMenu ? 'nav on' : 'nav'" >
      <nav>
        <ul class="common-menu">
          <li
            [ngStyle]="selectedStyleObject(getSelectedMenu() == 'library')">
            <a i18n="library" (click)="navigateLibrary()">자료열람</a>
          </li>
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() == 'analysis')">
            <a (click)="navigateSpecials()">자료분석</a>
          </li>
          <li
            [ngStyle]="selectedStyleObject(getSelectedMenu() == 'community')"
            class="community-menu"
          >
<!--common-->
            <div class="dropdown-container">
              <a (click)="toCommunity()">커뮤니티</a>
              <ul class="community-dropdown-menu">
                <li><a (click)="toAnnouncement()">공지사항</a></li>
                <li><a (click)="toFaq()">FAQ</a></li>
                <li><a (click)="toCommunity()">Q&A</a></li>
              </ul>
            </div>
<!--tablet and mobile-->
            <div class="dropdown-container-tablet">
              <a
                (click)="clickDropDownCommunity()"
                class="dropdown-community">커뮤니티</a>
              <ul [ngClass]="isDropDownCommunity ? 'about-dropdown-menu-tablet' : 'about-dropdown-menu-tablet no'">
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'announcement')"
                  (click)="toAnnouncement()">공지사항</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'faq')"
                  (click)="toFaq()">FAQ</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'qna')"
                  (click)="toCommunity()">Q&A</a></li>
              </ul>
            </div>

          </li>
          <li
            [ngStyle]="selectedStyleObject(getSelectedMenu() === 'about')"
            class="about-menu"
          >
            <!--common-->
            <div class="dropdown-container">
              <a>홈페이지소개</a>
              <ul class="about-dropdown-menu">
                <li><a (click)="toSiteIntro()">사이트소개</a></li>
                <li><a (click)="toServiceGuide()">서비스안내</a></li>
                <li><a (click)="toCollectedInfo()">수집정보</a></li>
                <li><a (click)="toMemberPolicy()">회원정책</a></li>
              </ul>
            </div>
            <!--tablet and mobile-->
            <div class="dropdown-container-tablet">
              <a
                (click)="clickDropDownSiteInfo()"
                class="dropdown-about">홈페이지소개</a>
              <ul [ngClass]="isDropDownSiteInfo ? 'about-dropdown-menu-tablet' : 'about-dropdown-menu-tablet no'">
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'intro')"
                  (click)="toSiteIntro()">사이트소개</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'service-guide')"
                  (click)="toServiceGuide()">서비스안내</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'collected-info')"
                  (click)="toCollectedInfo()">수집정보</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'member-policy')"
                  (click)="toMemberPolicy()">회원정책</a></li>
              </ul>
            </div>
          </li>
          
          <li
          [ngStyle]="selectedStyleObject(getSelectedMenu() === 'openapi')"
          class="openapi-menu"
          >
            <div class="dropdown-container">
              <a (click)="toOpenAPI()">Open API</a>
            </div>
            </li>
          </ul>

        <ul *ngIf="!getIsSignedIn()" class="login-menu-tablet">
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'login')">
            <a (click)="toLogin()">로그인</a>
          </li>
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'register')">
            <a (click)="toRegister()">회원가입</a>
          </li>
        </ul>

        <ul *ngIf="getIsSignedIn()" class="user-menu-tablet">
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'userpage')">
            <a (click)="clickDropDownUserpage()"
               class="dropdown-userpage">마이페이지</a>
            <ul [ngClass]="isDropDownUserpage ? 'about-dropdown-menu-tablet' : 'about-dropdown-menu-tablet no'">
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'my-docs')"
                (click)="toMyDocs()">내 보관함</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'my-analysis')"
                (click)="toMyAnalysis()">내 분석함</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'member-info')"
                (click)="toMemberInfo()">회원정보관리</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'api-register')"
                (click)="toOpenAPI()">Open API</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'secession')"
                (click)="toSecession()">회원탈퇴</a></li>
            </ul>
          </li>
          <li><a (click)="logOut()">로그아웃</a></li>
        </ul>

      </nav>
      <a
         class="close"
         (click)="selectMobileMenu()"
      ></a>
    </div>
  </div>

  <ul *ngIf="!getIsSignedIn()" class="login-menu">
    <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'login')">
      <a (click)="toLogin()">로그인</a>
    </li>
    <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'register')">
      <a (click)="toRegister()">회원가입</a>
    </li>
  </ul>

  <ul *ngIf="getIsSignedIn()" class="user-menu">
    <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'userpage')">
      <a (click)="toUserPage()">마이페이지</a>
    </li>
    <li><a (click)="logOut()">로그아웃</a></li>
  </ul>
</header>
