<header>
  <div class="left">
    <a
       class="all"
       (click)="selectMobileMenu()"
    > all menu</a>
    <div [ngClass]="isSelectMobileMenu ? 'nav on' : 'nav'" >
      <nav>
        <ul class="common-menu">
          <li
            [ngStyle]="selectedStyleObject(getSelectedMenu() == 'library')">
            <a i18n="library" (click)="navigateLibrary()">{{ 'navbar.library' | translate }}</a>
          </li>
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() == 'analysis-menu')">
            <a (click)="navigateSpecials()">{{'navbar.analysis' | translate}}</a>
          </li>
          <li
            [ngStyle]="selectedStyleObject(getSelectedMenu() == 'community')"
            class="community-menu"
          >
<!--common-->
            <div class="dropdown-container">
              <a (click)="toAnnouncement()">{{'navbar.community' | translate}}</a>
              <ul class="community-dropdown-menu">
                <li><a (click)="toAnnouncement()">{{'navbar.community'|translate}}</a></li>
                <li><a (click)="toFaq()">FAQ</a></li>
                <li><a (click)="toCommunity()">Q&A</a></li>
              </ul>
            </div>
<!--tablet and mobile-->
            <div class="dropdown-container-tablet">
              <a
                (click)="clickDropDownCommunity()"
                class="dropdown-community">{{'navbar.community' | translate}}</a>
              <ul [ngClass]="isDropDownCommunity ? 'about-dropdown-menu-tablet' : 'about-dropdown-menu-tablet no'">
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'announcement')"
                  (click)="toAnnouncement()">{{'공지'|translate}}</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'faq')"
                  (click)="toFaq()">FAQ</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'qna')"
                  (click)="toCommunity()">Q&A</a></li>
              </ul>
            </div>

          </li>
          <li
            [ngStyle]="selectedStyleObject(getSelectedMenu() === 'about')"
            class="about-menu"
          >
            <!--common-->
            <div class="dropdown-container">
              <a (click)="toSiteIntro()">{{'navbar.aboutUs'|translate}}</a>
              <ul class="about-dropdown-menu">
                <li><a (click)="toSiteIntro()">{{'navbar.introduction'|translate}}</a></li>
                <li><a (click)="toServiceGuide()">{{'navbar.guide'|translate}}</a></li>
                <li><a (click)="toCollectedInfo()">{{'navbar.privacy'|translate}}</a></li>
                <li><a (click)="toMemberPolicy()">{{'회원정책'|translate}}</a></li>
              </ul>
            </div>
            <!--tablet and mobile-->
            <div class="dropdown-container-tablet">
              <a
                (click)="clickDropDownSiteInfo()"
                class="dropdown-about">{{'navbar.aboutUs'|translate}}</a>
              <ul [ngClass]="isDropDownSiteInfo ? 'about-dropdown-menu-tablet' : 'about-dropdown-menu-tablet no'">
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'intro')"
                  (click)="toSiteIntro()">{{'navbar.introduction'|translate}}</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'service-guide')"
                  (click)="toServiceGuide()">{{'navbar.guide'|translate}}</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'collected-info')"
                  (click)="toCollectedInfo()">{{'navbar.infoPolicy'|translate}}</a></li>
                <li><a
                  [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'member-policy')"
                  (click)="toMemberPolicy()">{{'회원정책'|translate}}</a></li>
              </ul>
            </div>
          </li>

          <li
          [ngStyle]="selectedStyleObject(getSelectedMenu() === 'openapi')"
          class="openapi-menu"
          >
            <div class="dropdown-container">
              <a (click)="toOpenAPI()">Open API</a>
            </div>
            </li>
          </ul>

        <ul *ngIf="!getIsSignedIn()" class="login-menu-tablet">
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'login')">
            <a (click)="toLogin()">{{'navbar.signIn'|translate}}</a>
          </li>
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'register')">
            <a (click)="toRegister()">{{'navbar.register'|translate}}</a>
          </li>
          <ul class="language_tablet">
            <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('ko')" class="word"><img src="../../../../assets/icons/kor_word.png"></a></li>
            <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('en')" class="word"><img src="../../../../assets/icons/eng_word.png"></a></li>
          </ul>
        </ul>

        <ul *ngIf="getIsSignedIn()" class="user-menu-tablet">
          <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'userpage')">
            <a (click)="clickDropDownUserpage()"
               class="dropdown-userpage">{{'마이페이지'|translate}}</a>
<!--            {{'navbar.myPage' | translate}}-->
            <ul [ngClass]="isDropDownUserpage ? 'about-dropdown-menu-tablet' : 'about-dropdown-menu-tablet no'">
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'my-docs')"
                (click)="toMyDocs()">{{'navbar.myDocuments' | translate}}</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'my-analysis')"
                (click)="toMyAnalysis()">{{'navbar.myAnalysis'|translate}}</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'member-info')"
                (click)="toMemberInfo()">{{'navbar.privacy'|translate}}</a></li>
              <li><a
                [ngStyle]="selectedStyleObject(getSelectedSubMenu() === 'secession')"
                (click)="toSecession()">{{'navbar.rmAccount'|translate}}</a></li>
            </ul>
          </li>
          <li><a (click)="logOut()">{{'navbar.signOut'|translate}}</a></li>
          <ul class="language_tablet">
            <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('ko')" class="word"><img src="../../../../assets/icons/kor_word.png"></a></li>
            <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('en')" class="word"><img src="../../../../assets/icons/eng_word.png"></a></li>
          </ul>
        </ul>

      </nav>
      <a
         class="close"
         (click)="selectMobileMenu()"
      ></a>
    </div>
  </div>

  <ul *ngIf="!getIsSignedIn()" class="login-menu">
    <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('ko')" class="word"><img src="../../../../assets/icons/kor_word.png"></a></li>
    <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('en')" class="word"><img src="../../../../assets/icons/eng_word.png"></a></li>
    <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'login')">
      <a (click)="toLogin()">{{'navbar.signIn'|translate}}</a>
    </li>
    <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'register')">
      <a (click)="toRegister()">{{'navbar.register'|translate}}</a>
    </li>
  </ul>

  <ul *ngIf="getIsSignedIn()" class="user-menu">
    <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('ko')" class="word"><img src="../../../../assets/icons/kor_word.png"></a></li>
    <li><a [ngStyle]="disableObject(isMain)" (click)="useLanguage('en')" class="word"><img src="../../../../assets/icons/eng_word.png"></a></li>
    <li [ngStyle]="selectedStyleObject(getSelectedMenu() === 'userpage')">
<!--      {{'navbar.myPage' | translate}}-->
      <a (click)="toUserPage()">{{'마이페이지'|translate}}</a>
    </li>
    <li><a (click)="logOut()">{{'navbar.signOut'|translate}}</a></li>
  </ul>
</header>
