<div class="result-header">
  <!-- Show number of result -->
  <div *ngIf="isResultFound && isMainSearch" class="result-count">
    <a>"{{ searchKeyword }}"에 대한 검색 결과는 </a>
    <button *ngIf="this.searchPaperResultNum != '0'" value="paper" (click) = "searchByDoctype($event)">문서 {{searchPaperResultNum}}건 </button>
    <button *ngIf="this.searchNewsResultNum != '0'" value="news" (click) = "searchByDoctype($event)" >기사 {{searchNewsResultNum}}건 </button>
    <a>입니다. </a>
    <button *ngIf="(this.searchNewsResultNum == '0')||(this.searchPaperResultNum == '0')" id="all" (click) = "searchByDoctype($event)" >전체 결과</button>
  </div>

  <div *ngIf="isResultFound" class="dropdown-menus">
    <!-- Set Sort Order -->
    <select class="order-drop" id="order" name="order" (change)="saveSortOption($event.target.value)">
      <option *ngFor="let ord of orders" [value]="ord" >{{ ord |translate}}</option>
    </select>

    <!-- Set number of doc per page -->
    <select
      class="amount-drop"
      id="amount"
      name="amount"
      (change)="docNumPerPageChange($event.target.value)"
      [(ngModel)]="pageSize"
    >
      <option *ngFor="let amt of amounts" [value]="amt">
        {{'article-list.viewEach1'|translate}}{{ amt }}{{'article-list.viewEach2'|translate}}
      </option>
    </select>
  </div>
</div>

<div *ngIf="isResultFound && isMainSearch" class="result-count-tablet">
  <a>"{{ searchKeyword }}"에 대한 검색 결과는 </a>
  <button *ngIf="this.searchPaperResultNum != '0'" value="paper" (click) = "searchByDoctype($event)">문서 {{searchPaperResultNum}}건 </button>
  <button *ngIf="this.searchNewsResultNum != '0'" value="news" (click) = "searchByDoctype($event)" >기사 {{searchNewsResultNum}}건 </button>
  <a>입니다. </a>
  <button *ngIf="(this.searchNewsResultNum == '0')||(this.searchPaperResultNum == '0')" id="all" (click) = "searchByDoctype($event)" >전체 결과</button>
</div>

<div *ngIf="isResultFound && isSearchDone" class="result-body">
  <form [formGroup]="form" (ngSubmit)="saveSelectedDocs()" novalidate>
    <label *ngIf="isLoggedIn"
      ><input
        class="article-checkbox toggle-all"
        type="checkbox"
        [(checked)]="toggle_all"
        (change)="onCheckboxChange($event)"
        value="toggleAll"
      />{{'전체선택'|translate}}
    </label>
    <div
      *ngFor="let articleSource of articleSources; index as i"
      class="article"
      [ngStyle]="{
        'background': articleSource['_source']['doc_type'] == 'news' ? '#f2f2f2' : 'transparent',
        'border-radius': articleSource['_source']['doc_type'] == 'news' ? '15px' : '0px'
      }"
    >
      <label>
        <input
          *ngIf="isLoggedIn"
          class="article-checkbox"
          type="checkbox"
          [(checked)]="articleSource.isSelected"
          name="selectDoc"
          [value]="articleSource['_source']['hash_key']"
          (change)="onCheckboxChange($event)"
        />
      </label>
      <div class="article-info-container">
        <app-article-details
          class="article-component"
          [article]="articleSource"
        ></app-article-details>
        <button
          class="related-doc-toggle"
          type="button"
          (click)="openRelatedDocList(i)"
          [ngStyle]="toggleArrowStyle(i)"
        >
          {{'연관문서'|translate}}
        </button>
        <div *ngIf="relatedDocBtnToggle[i]">
          <div
            class="related-docs-link"
            *ngFor="let rcmd of relatedDocs[i]; index as r"
          >
            <a *ngIf="articleSource['_source']['doc_type'] == 'paper'" (click)="openSelectedDoc(i, r)">{{ rcmd["title"] }}</a>
            <a *ngIf="articleSource['_source']['doc_type'] == 'news'" href="{{ articleSource['_source']['original_url'] }}" target='_blank'>{{ rcmd["title"] }}</a>
          </div>
        </div>
        <hr *ngIf="i !== pageSize - 1" class="sep"/>
      </div>
    </div>
    <input *ngIf="isLoggedIn" type="submit" class="mydoc" value="담기" />
  </form>

  <div class="page-numbers">
    <button
      id="page-multiprev"
      *ngIf="currentPage > 1"
      (click)="beginSearch(currentPage - 10)"
    ></button>
    <button
      id="page-prev"
      *ngIf="currentPage > 1"
      (click)="beginSearch(currentPage - 1)"
    ></button>
    <button
      [ngStyle]="{
        'background-color': currentPage == i ? '#52b9ff' : 'transparent',
        color: currentPage == i ? 'white' : 'black'
      }"
      (click)="beginSearch(i)"
      *ngFor="let i of pages"
    >
      {{ i }}
    </button>
    <button
      id="page-next"
      *ngIf="currentPage < totalPages"
      (click)="beginSearch(currentPage + 1)"
    ></button>
    <button
      id="page-multinext"
      *ngIf="currentPage != totalPages"
      (click)="beginSearch(currentPage + 10)"
    ></button>
  </div>
</div>

<div *ngIf="!isResultFound && isSearchDone" class="result-not-found-body">
  <p>{{'article-list.noResult1'|translate}}"{{ searchKeyword }}"{{'article-list.noResult2'|translate}}</p>
  <ul>
    <li>{{'article-list.noResultGuide1'|translate}}</li>
    <li>{{'article-list.noResultGuide2'|translate}}</li>
    <li>
      {{'article-list.noResultGuide3'|translate}}
    </li>
  </ul>
</div>

<div *ngIf="!isSearchDone" class="result-not-found-body">
  <p>"{{ searchKeyword }}"{{'article-list.resultProcessing'|translate}}</p>
</div>
