<div class="result-header">
  <!-- Show number of result -->
  <div *ngIf="isResultFound && isMainSearch" class="result-count">
    "{{ searchKeyword }}"에 대한 검색결과는 {{ searchResultNum }}건 입니다.
  </div>
  <div *ngIf="isResultFound && !isMainSearch" class="result-count">
    검색결과는 총 {{ searchResultNum }}건 입니다.
  </div>
  <div *ngIf="isResultFound" class="dropdown-menus">
    <!-- Set Sort Order -->
    <select class="order-drop" id="order" name="order">
      <option *ngFor="let ord of orders" [value]="ord">{{ ord }}</option>
    </select>

    <!-- Set number of doc per page -->
    <select
      class="amount-drop"
      id="amount"
      name="amount"
      (change)="docNumPerPageChange($event.target.value)"
      [(ngModel)]="pageSize"
    >
      <option *ngFor="let amt of amounts" [value]="amt">
        {{ amt }}건씩 보기
      </option>
    </select>
  </div>
</div>

<div *ngIf="isResultFound && isSearchDone" class="result-body">
  <form [formGroup]="form" (ngSubmit)="saveSelectedDocs()" novalidate>
    <label *ngIf="isLoggedIn"
      ><input
        class="article-checkbox toggle-all"
        type="checkbox"
        (change)="onCheckboxChange($event)"
        value="toggleAll"
      />전체선택
    </label>
    <div
      *ngFor="let articleSource of articleSources; index as i"
      class="article"
    >
      <label>
        <input
          *ngIf="isLoggedIn"
          class="article-checkbox"
          type="checkbox"
          [(checked)]="articleSource.isSelected"
          name="selectDoc"
          [value]="articleSource['_id']"
          (change)="onCheckboxChange($event)"
        />
      </label>
      <div class="article-info-container">
        <app-article-details
          class="article-component"
          [article]="articleSource"
        ></app-article-details>
        <button
          class="related-doc-toggle"
          type="button"
          (click)="openRelatedDocList(i)"
          [ngStyle]="toggleArrowStyle(i)"
        >
          연관문서
        </button>
        <div *ngIf="relatedDocBtnToggle[i]">
          <div
            class="related-docs-link"
            *ngFor="let rcmd of relatedDocs[i]; index as r"
          >
            <a (click)="openSelectedDoc(i, r)">{{ rcmd["title"] }}</a>
          </div>
        </div>
        <hr *ngIf="i !== pageSize - 1" class="sep" />
      </div>
    </div>
    <input *ngIf="isLoggedIn" type="submit" class="mydoc" value="담기" />
  </form>

  <div class="page-numbers">
    <button
      id="page-multiprev"
      *ngIf="currentPage > 1"
      (click)="beginSearch(currentPage - 10)"
    ></button>
    <button
      id="page-prev"
      *ngIf="currentPage > 1"
      (click)="beginSearch(currentPage - 1)"
    ></button>
    <button
      [ngStyle]="{
        'background-color': currentPage == i ? '#52b9ff' : 'transparent',
        color: currentPage == i ? 'white' : 'black'
      }"
      (click)="beginSearch(i)"
      *ngFor="let i of pages"
    >
      {{ i }}
    </button>
    <button
      id="page-next"
      *ngIf="currentPage < totalPages"
      (click)="beginSearch(currentPage + 1)"
    ></button>
    <button
      id="page-multinext"
      *ngIf="currentPage != totalPages"
      (click)="beginSearch(currentPage + 10)"
    ></button>
  </div>
</div>

<div *ngIf="!isResultFound && isSearchDone" class="result-not-found-body">
  <p>"{{ searchKeyword }}"에 대한 검색결과가 없습니다.</p>
  <ul>
    <li>단어의 철자가 정확한지 확인해 보세요.</li>
    <li>한글을 영어로 혹은 영어를 한글로 입력했는지 확인해 보세요.</li>
    <li>
      검색어의 단어 수를 줄이거나, 보다 일반적인 검색어로 다시 검색해 보세요.
    </li>
  </ul>
</div>

<div *ngIf="!isSearchDone" class="result-not-found-body">
  <p>"{{ searchKeyword }}"에 대한 문서를 검색 중입니다. 잠시만 기다려주세요.</p>
</div>
