<div class="community-board-container">
  <section class="community-board">
    <h1 class="mobileTitle">{{'community-board.community'|translate}}</h1>
    <div *ngIf="isNavbarNeeded()" class="board-nav-container">
      <nav class="community-nav">
        <ul>
          <li>
            <h1
              [ngStyle]="{
                color: selectedMenu === 'announcement' ? 'black' : 'lightgray'
              }"
            >
              <a (click)="navToAnnouncement()">{{'community-board.공지'|translate}}</a>
            </h1>
          </li>
          <li>
            <h1
              [ngStyle]="{
                color: selectedMenu === 'faq' ? 'black' : 'lightgray'
              }"
            >
              <a (click)="navToFaq()">FAQ</a>
            </h1>
          </li>
          <li>
            <h1
              [ngStyle]="{
                color: selectedMenu === 'qna' ? 'black' : 'lightgray'
              }"
            >
              <a (click)="navToQna()">Q&A</a>
            </h1>
          </li>
        </ul>
      </nav>

      <hr class="nav-separator" />
      <section class="menu-info">
        <div
          *ngIf="selectedMenu === 'announcement'"
          class="menu-info-announcement"
        >
          {{'community-board.noticeBoard'|translate}}
        </div>
        <div *ngIf="selectedMenu === 'faq'" class="menu-info-faq">
          {{'community-board.frequentlyAsked'|translate}}
        </div>
        <div *ngIf="selectedMenu === 'qna'" class="menu-info-qna">
          {{'community-board.pleaseAsk'|translate}}
        </div>
      </section>
    </div>
    <router-outlet></router-outlet>
  </section>
</div>
