<p class="location">홈 > 홈페이지 소개 > 서비스 안내</p>
<hr />
<div>
  <h1>서비스 안내</h1>

  <div class="service">
    <div class="left-outline">
      <ul>
        <li class="list"><a (click)="toSiteIntro()">사이트소개</a></li>
        <li class="list">
          <a (click)="toServiceGuide()" class="color">서비스안내</a>
        </li>
        <li class="list"><a (click)="toCollectedInfo()">수집정보</a></li>
        <li class="list"><a (click)="toMemberPolicy()">회원정책</a></li>
      </ul>
    </div>
    <div class="right-container">
      <div class="cont">
        <p>
          서비스 안내. 서비스 이용 방법을 안내합니다. <br />회원가입, 로그인
          진행 -> 문서 검색, 원하는 자료 담기 -> 자료분석 페이지에서 분석
        </p>
      </div>
    </div>
  </div>
</div>
