.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.location {
    text-align: right;
    margin-right: 17%;
}

.leri{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
}

.left-menu {
    padding-top: 20px;
    font-size: 17px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid #c2c2c2;
    border-left: none;
    width: 30%;
    display: flex;
    padding-left: 15%;
    font-weight: 500;
    justify-content: flex-end;
}

.list {
    height: 30px;
    width: 100px;
    margin: 13px;
    display: flex;
    justify-content: center;
}

.right {
    width: 70%;
    padding-right: 15%;
    padding-left: 1%;
}

.mypage {
    padding-left: 22%;
}