<div class="search-bar">
    <app-search-bar></app-search-bar>
</div>

<p class="location">홈 > 마이페이지 > {{ where }} </p>
<hr>

<div class="leri">
    <div>   
        <h3><strong> 마이페이지 </strong></h3>     
        <div class="left-menu">
            <ul>
                <li class="list1"><a (click)="toMyDocs()">내 보관함</a></li>
                <li class="list"><a (click)="toMyAnalysis()">내 분석함</a></li>
                <li class="list"><a (click)="toMemberInfo()">회원정보관리</a></li>
                <li class="list"><a (click)="toOpenAPI()">OpenAPI</a></li>
                <li class="list"><a (click)="toSecession()">회원탈퇴</a></li>
            </ul>
        </div>
    </div>

    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>