
.result-table{
  height: 200px;
  overflow:scroll;
}


.tooltip {
  width: 2.0rem;
  padding-left : 3px;
}

.button-group{
  display: flex;
}
.button-group>button{
  margin:5px;
}
.run{
  font-size:1.5rem;
}

.popup{
  position:absolute; 
  right:20%; 
  top:60%; 
  width:100px; 
  background: lightskyblue;
  display:none;
  border-radius:3px;
  padding: 10px;
  // index:1;
}

/* reset */
*{margin: 0; padding: 0}
body {padding: 20px;}

/* temp grid */
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-6 {width: 50%;}

.only-sr {
  overflow: hidden !important;
  position: absolute !important;
  left: -9999px !important;
  width: 1px;
  height: 1px;
}

/* form | radio */
.radio-items {
  display: table;
  width: 300px;
  border: 1px solid #454a60;
  border-radius: 25px;
  box-sizing: border-box;
  > div {
      display: table-cell;
      height: 20px;
      line-height: 20px;
      border-left: 1px solid #454a60;
      text-align: center;
  }
  > div:first-child {
      border-left: none;
      // width: auto !important;
  }
  label {
      display: block;
      width: 100%;
      height: 100%;
      color: #454a60;
      // box-sizing: border-box;
      cursor: pointer;
  }
  input[type="radio"]:checked + label{
      background-color: lightskyblue;
      color: #fff;
  }
  input[type="checkbox"]:checked + label{
    background-color: lightskyblue;
    color: #fff;
}
}

button{
  font-size:1.0rem;
}




.content-container {
  grid-area: main;
  display: grid;
  align-content: stretch;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: min-content;
  gap: 20px 20px;
  grid-template-areas: "menu menu menu menu menu body body body body body body body body body body ";
}

app-analysis-menu {
  grid-area: menu;
}
.content {
  grid-area: body;
  margin-top: 4rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 1.6rem 2rem;
}

.content > p {
  font-size: 1.5rem;
}

@media all and (max-width: 425px){
  .content-container {
    grid-area: main;
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: min-content;
    gap: 20px 20px;
    grid-template-areas: "menu menu menu menu menu menu menu menu menu menu"
                        "body body body body body body body body body body ";
  }

  .content {
    grid-area: body;
    margin-top: 0;
    border: 0;
    padding: 1.6rem 2rem;
  }
}
