<div class="content-container">
  <app-analysis-menu></app-analysis-menu>
  
  <section class="content">
    <p><strong>전처리</strong></p>
    <section *ngIf="isSavedDocsEmpty" class="saved-document-list">
      문서함이 비었습니다.
    </section>
    <section *ngIf="isSavedDocsLoaded" class="saved-document-list">
    <table>
      
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>검색 키워드</th>
          <th>문서목록</th>
          <th>수집날짜</th>
          <th>통계</th>
          <th>전처리</th>
          </tr>
      </thead>

      <tbody>
        <tr *ngFor="let doc of savedDocs">
            <td><input 
              class="article-checkbox"
              type="checkbox"
              name="selectDoc"
              [value]="doc['hashKey']"
              (change)="onCheckboxChange($event)"
            /></td>
            
            <td class="text-center">{{ doc['keyword'] }}</td>
            <td class="text-center"><ul *ngFor="let adoc of doc['title']" class="text-left"> - {{adoc}}</ul></td>
            <td class="text-center">{{ doc['savedDate']}}</td>
            <td class="text-center">총문서수:{{doc['savedDocHashKeys'].length}}개<br> 평균 단어수:230개</td>
            <td class="text-center">
            <div *ngIf="isDataPreprocessed">
            <button (click)="previewPreprocessedData()">
              <div id="pop" class ="popup">
                {{preprocessedData}}
              </div>
              미리보기</button>
            <button>다운로드</button>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
    </section>

    <strong>사용자 사전</strong> <div class="button-group"><button>사용자 사전</button> <button>미리보기</button></div>
    <li>유의어  
      <div style="width: 400px;display:flex;">
      <div class="radio-items">
        <div class="col-6">
          <input id="a1" class="only-sr checked" type="radio" name="temp1" value="1" checked>
          <label for="a1">기본 사전 사용</label>
        </div>
        <div class="col-6">
          <input id="a2" class="only-sr" type="radio" name="temp1" value="2" (click)="popup()">
          <label for="a2">내 사전 사용</label>
        </div>
      </div>  
      <div id="filename">유의어1.txt</div>
      <button>미리보기</button>
    </div>
    <li>불용어  
      <div style="width: 400px; display:flex;">
        <div class="radio-items">
          <div class="col-6">
            <input id="b1" class="only-sr checked" type="radio" name="temp2" value="1" checked>
            <label for="b1">기본 사전 사용</label>
          </div>
          <div class="col-6">
            <input id="b2" class="only-sr" type="radio" name="temp2" value="2">
            <label for="b2">내 사전 사용</label>
          </div>
        </div>
      </div>
    </li>
    <li>복합어  
      <div style="width: 400px;">
      <div class="radio-items">
        <div class="col-6">
          <input id="c1" class="only-sr checked" type="radio" name="temp3" value="1" checked>
          <label for="c1">기본 사전 사용</label>
        </div>
        <div class="col-6">
          <input id="c2" class="only-sr" type="radio" name="temp3" value="2">
          <label for="c2">내 사전 사용</label>
        </div>
      </div>
    </div>
  </li>
    <strong>품사 선택</strong>
    <div style="width: 300px;">
      <div class="radio-items">
        <div class="col-3">
          <input id="d1" class="only-sr checked" type="radio" name="temp4" value="1" checked>
          <label for="d1">동사</label>
        </div>
        <div class="col-3">
          <input id="d2" class="only-sr" type="radio" name="temp4" value="2">
          <label for="d2">명사</label>
        </div>
        <div class="col-3">
          <input id="d3" class="only-sr" type="radio" name="temp4" value="3">
          <label for="d3">형용사</label>
        </div>
      </div>
    </div>

    <button (click)="toMiddleWare()" class="run">전처리 실행</button>
  </section>
</div>
