<div class="content-container">
  <app-analysis-menu></app-analysis-menu>

  <section class="content">
    <app-savedDocForAnalysis (sender)='onMessage($event)'></app-savedDocForAnalysis>

    <section class="options">
    <span class="section-header">{{'analysis.preprocessing.option'|translate}}</span>
      <img class='tooltip' src="help-gray.png"/>
    <span class="section-info">{{'analysis.preprocessing.chooseOption'|translate}}</span>
    <hr>
    <div class="select-option">
    <span class="option-header">{{'analysis.preprocessing.option1-userDictionary'|translate}}</span>
    <span class="option-info">{{'analysis.preprocessing.chooseUserDictionary'|translate}}</span>

    <div class="option-dict-box">
      <li class="option-dict">
        <strong>{{'analysis.preprocessing.유의어'|translate}}</strong>
        <div class="radio-items">
          <div class="col-3">
            <input id='synonym_basic' class="only-sr checked" type="radio" name="synonym" value="basic" checked>
            <label for="synonym_basic">{{'analysis.preprocessing.defaultDictionary'|translate}}</label>
          </div>
          <div class="col-3">
            <input id='synonym_user' class="only-sr" type="radio" name="synonym" value="user">
            <label for="synonym_user">{{'analysis.preprocessing.myDictionary'|translate}}</label>
          </div>
        </div>
        <button class="upload-dict" (click)="openTextFile('synonym')">
          <label class="upload-but" for="upload-synonym">{{'analysis.preprocessing.uploadMyDictionary'|translate}}</label>
        </button>
        <button class="upload-dict" (click)="previewDict('synonym')">
          <label class="upload-but" for="upload-stopword">{{'analysis.preprocessing.previewDictionary'|translate}}</label>
        </button>
      </li>
      <li class="option-dict">
        <strong>{{'analysis.preprocessing.불용어'|translate}}</strong>
        <div class="radio-items">
          <div class="col-3">
            <input id='stopword_basic' class="only-sr checked" type="radio" name="stopword" value="basic" checked>
            <label for="stopword_basic">{{'analysis.preprocessing.defaultDictionary'|translate}}</label>
          </div>
          <div class="col-3">
            <input id='stopword_user' class="only-sr" type="radio" name="stopword" value="user">
            <label for="stopword_user">{{'analysis.preprocessing.myDictionary'|translate}}</label>
          </div>
        </div>
        <button class="upload-dict" (click)="openTextFile('stopword')">
          <label class="upload-but" for="upload-stopword">{{'analysis.preprocessing.uploadMyDictionary'|translate}}</label>
        </button>
        <button class="upload-dict" (click)="previewDict('stopword')">
          <label class="upload-but" for="upload-stopword">{{'analysis.preprocessing.previewDictionary'|translate}}</label>
        </button>
      </li>

      <li class="option-dict">
        <strong>{{'analysis.preprocessing.복합어'|translate}}</strong>
        <div class="radio-items">
          <div class="col-3">
            <input id='compound_basic' class="only-sr checked" type="radio" name="compound" value="basic" checked>
            <label for="compound_basic">{{'analysis.preprocessing.defaultDictionary'|translate}}</label>
          </div>
          <div class="col-3">
            <input id='compound_user' class="only-sr" type="radio" name="compound" value="user">
            <label for="compound_user">{{'analysis.preprocessing.myDictionary'|translate}}</label>
          </div>
        </div>
          <button class="upload-dict" (click)="openTextFile('compound')">
            <label class="upload-but" for="upload-compound">{{'analysis.preprocessing.uploadMyDictionary'|translate}}</label>
          </button>
          <button class="upload-dict" (click)="previewDict('compound')">
            <label class="upload-but" for="upload-stopword">{{'analysis.preprocessing.previewDictionary'|translate}}</label>
          </button>
      </li>
    </div>
    <br><br><br>
    <strong id="title"></strong>
    <figure id="table"></figure>
    <button class="download-dict" id="download-dict" (click)="downloadDict()">{{'analysis.preprocessing.downloadDictionary'|translate}}</button>
    <br><br>


    <!-- <button *ngIf="isSynonymLoaded" (click)="preview('synonym')">미리보기</button> -->

      <!-- <div id="filename" *ngIf="dictSynonym">저장된 사전 있음</div>
      <button>미리보기</button>
      <div id='selectUserDict'>
      새로운 사전 업로드 <input id="input-file1" type="file" (change)="handleUploadFileChanged($event)">
      </div> -->
    <!-- <li class="option-dict">불용어
      <div class="radio-items">
        <div class="col-3">
      <input id='stopword_basic' class="only-sr checked" type="radio" name="stopword" value="basic" checked>
      <label for="stopword_basic">기본 사전 사용</label>
        </div>
        <div class="col-3">
      <input id ="stopword_user" class="only-sr" type="radio" name="stopword" value="user">
      <label for="stopword_user" (click)="openTextFile('stopword')">내 사전 사용</label></div></div>

      <input type="file" (click)="openTextFile('stopword')">
    </li>

    <li class="option-dict">복합어
      <div class="radio-items">
        <div class="col-3">
      <input id='compound_basic' class="only-sr checked" type="radio" name="compound" value="basic" checked>
      <label for="compound_basic">기본 사전 사용</label>
      </div>
      <div class="col-3">
      <input id="compound_user" class="only-sr" type="radio" name="compound" value="user">
      <label for="compound_user" (click)="openTextFile('compound')">내 사전 사용</label></div></div>

      <input type="file" (click)="openTextFile('compound')">
    </li> -->

    <!-- <div *ngIf="previewDict">사전 미리보기</li>
    {{uploadedDict}} -->

    </div>

    <div class="select-option">
    <span class="option-header">{{'analysis.preprocessing.partOfSpeech'|translate}}</span>
    <span class="option-info">{{'analysis.preprocessing.choosePartOfSpeech'|translate}}</span>
      <div class="radio-items">
        <div class="col-3">
          <input id="d1" class="only-sr checkbox" type="checkbox" name="wordclass" value="100">
          <label for="d1">{{'analysis.preprocessing.동사'|translate}}</label>
        </div>
        <div class="col-3">
          <input id="d2" class="only-sr" type="checkbox" name="wordclass" value="010" checked>
          <label for="d2">{{'analysis.preprocessing.명사'|translate}}</label>
        </div>
        <div class="col-3">
          <input id="d3" class="only-sr" type="checkbox" name="wordclass" value="001">
          <label for="d3">{{'analysis.preprocessing.형용사'|translate}}</label>
        </div>
    </div>
  </div>

    <hr>
    <button (click)="runPreprocessing()" class="run">{{'analysis.preprocessing.start'|translate}}</button>
  </section>

  <section class='section-result' >
    <span class="section-header" *ngIf="isDataPreprocessed">{{'analysis.preprocessing.result'|translate}}</span>
    <span class="section-info" *ngIf="isDataPreprocessed">{{'analysis.preprocessing.resultTable'|translate}}</span>
    <hr *ngIf="isDataPreprocessed">

    <span class="section-header" *ngIf="isDataPreview">{{'analysis.preprocessing.preview'|translate}}</span>
    <span class="section-info" *ngIf="isDataPreview">{{'analysis.preprocessing.previewResult'|translate}}</span>
    <hr *ngIf="isDataPreview">
    <figure id='pretable'></figure>

    <button (click)="toAnalysis()" class="run" *ngIf="isDataPreprocessed">자료분석 이동</button>
  </section>
  </section>
</div>
