<nav class="navbar">
  <ul class="common-menu">
    <li><a (click)="navigateLibrary()">자료열람</a></li>
    <li><a (click)="navigateSpecials()">자료분석</a></li>
    <li *ngIf="isApiUser"><a>OpenAPI</a></li>
    <li class="community-menu">
      <div class="dropdown-container">
        <a (click)="toCommunity()">커뮤니티</a>
        <ul class="community-dropdown-menu">
          <li><a (click)="toAnnouncement()">공지사항</a></li>
          <li><a (click)="toFaq()">FAQ</a></li>
          <li><a (click)="toCommunity()">Q&A</a></li>
        </ul>
      </div>
    </li>
    <li class="about-menu">
      <div class="dropdown-container">
        <a>홈페이지소개</a>
        <ul class="about-dropdown-menu">
          <li><a href="#자료분석">사이트소개</a></li>
          <li><a href="#자료분석">서비스안내</a></li>
          <li><a href="#자료분석">수집정보</a></li>
          <li><a href="#자료분석">회원정책</a></li>
        </ul>
      </div>
    </li>
  </ul>

  <ul *ngIf="!isSignedIn" class="login-menu">
    <li><a (click)="toLogin()">로그인</a></li>
    <li><a (click)="toRegister()">회원가입</a></li>
  </ul>

  <ul *ngIf="isSignedIn" class="user-menu">
    <li><a (click)="toUserPage()">마이페이지</a></li>
    <li><a (click)="logOut()">로그아웃</a></li>
  </ul>
</nav>
