<div class="library-container">
  <section class="library">
    <div class="library-header">
      <h1>{{'article-library.library'|translate}}</h1>
      <button (click)="navToGraph()">{{'article-library.trendChart'|translate}}</button>
    </div>

    <hr class="hr"/>

    <div class="selection-container doctype">
      <p>{{'문서 종류'|translate}}</p>
      <div class="selection-buttons">
        <button
          (click)="selectDoc($event)"
          [ngStyle]="selectedStyleObject(selectedDoctype === '전체')"
        >{{ '전체' }}</button>
        <button
          (click)="selectDoc($event)"
          [ngStyle]="selectedStyleObject(selectedDoctype === '문서')"
        >{{ '문서' }}</button>
        <button
          (click)="selectDoc($event)"
          [ngStyle]="selectedStyleObject(selectedDoctype === '기사')"
        >{{ '기사' }}</button>
      </div>
    </div>

    <hr class="hr"/>

    <div class="selection-container topic-container">
      <p>{{'article-library.byTopic'|translate}}</p>
      <div class="selection-buttons topic">
        <button
          *ngFor="let cat of categories; let i = index"
          [ngStyle]="selectedStyleObject(selectedTp === cat)"
          id="topic"
          (click)="selectCategory($event)"
        >
          {{ cat |translate}}
        </button>
      </div>
    </div>

    <hr class="hr"/>

    <div class="selection-container dict-container">
      <p>{{'article-library.lexicographic'|translate}}</p>
      <div class="selection-buttons">
        <button
          *ngFor="let cat of dict_orders_1"
          [ngStyle]="selectedStyleObject(selectedDict === cat)"
          id = "dict"
          (click)="selectCategory($event)"
        >
          {{ cat }}
        </button>
      </div>
    </div>

    <hr class="hr"/>

    <div class="selection-container inst-container">
      <p>{{'article-library.organization'|translate}}</p>
      <div class="selection-buttons institutions">
        <button
          *ngIf="institutionList !== undefined"
          [ngStyle]="selectedStyleObject(selectedInst === '전체')"
          id="inst"
          (click)="selectCategory($event, null)"
        >
          {{'전체'|translate}}  {{ totalSavedDocsNum }}
        </button>
        <button
          *ngFor="let inst of institutionList"
          [ngStyle]="selectedStyleObject(selectedInst === inst.key)"
          id="inst"
          (click)="selectCategory($event, inst)"
        >
          {{ inst["key"] }} {{ inst["doc_count"] }}
        </button>
      </div>
    </div>

    <hr class="hr"/>
    <app-article-list></app-article-list>
  </section>
</div>
