<div class="register-ok-container">
  <div class="register-ok">
    <img
      src="../../../../../assets/logos/logo_main.png"
      alt="kubic_logo"
      width="200px"
    />
    <div class="message-box">
      <span>{{'membership.signupComplete'}} </span>
      <span
        >{{'membership.signupLine'|translate}}</span
      >
      <div class="buttons">
        <button class="go-to-home" (click)="toHome()" type="button">
          {{'membership.goToMain'|translate}}
        </button>
        <button class="go-to-api" (click)="toLogIn()" type="button">
          {{'membership.signin'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
