<div class="register-ok-container">
  <div class="register-ok">
    <img
      src="../../../../../assets/logos/logo_main.png"
      alt="kubic_logo"
      width="200px"
    />
    <div class="message-box">
      <span>회원가입이 완료되었습니다! </span>
      <span
        >OpenAPI를 사용하시려면 로그인 후 마이페이지 > OpenAPI 메뉴에서
        회원가입을 진행해주세요.</span
      >
      <div class="buttons">
        <button class="go-to-home" (click)="toHome()" type="button">
          홈으로 이동
        </button>
        <button class="go-to-api" (click)="toLogIn()" type="button">
          로그인 하기
        </button>
      </div>
    </div>
  </div>
</div>
