<div class="uk-container uk-container-center" style="background-color: brown;">


    
<div uk-grid>
    <div class="uk-align-center form-group uk-padding" style="background-color:burlywood;">
        <div class="input-group uk-margin-bottom">
            <input style="; background-color: #f0f2f2;" type="text" [(ngModel)]="loginUserData.email" class="input-gray login-button-width" name="email" placeholder="이메일 주소" required="required">
        </div>

        <div class="input-group uk-margin-bottom">
            <input style="; background-color: #f0f2f2"  type="password" [(ngModel)]="loginUserData.password" class="input-gray login-button-width" name="password" placeholder="비밀번호" required="required">
        </div>

        <label class="pull-left checkbox-inline"><input type="checkbox"> 로그인 유지</label> 
            <div style="text-align: center;">
                <a href="#" class="pull-right text-success">비밀번호를 잊으셨나요? </a>
            </div>
        <div>
            <button style=";" type="submit" (click)="eLogIn()" class="login-button-width uk-button uk-margin-bottom button-blue">로그인</button>
        </div>
        <div>
            <button style=";" type="submit" (click)="toRegister()" class="login-button-width uk-button uk-margin-bottom button-dark-gray">회원가입</button>
        </div>
        <div>

            <button style=";" type="submit" (click)="gLogIn()" class="login-button-width uk-button uk-margin-bottom button-white">구글 로그인</button>
        </div>


        
    </div>
</div>


    <div style="text-align: center;">
        이메일 입력
    </div>
    
    <div style="text-align: center;">
        비밀번호 입력
    </div>
</div>