<div class="uk-container uk-container-center" >


    
    <div class="login-form">
        <!-- <div>
            <img src="/assets/logo/logo_main.png" alt="logo">
        </div> -->
        <div class="uk-align-center form-group" >
            <img src="/assets/logo/logo_main.png" alt="logo">
            <div class="input-group uk-margin-bottom">
                <input  type="text" [(ngModel)]="loginUserData.email" class="input-gray login-button-width" name="email" placeholder="이메일 주소" required="required">
            </div>
    
            <div class="input-group uk-margin-bottom">
                <input   type="password" [(ngModel)]="loginUserData.password" class="input-gray login-button-width" name="password" placeholder="비밀번호" required="required">
            </div>
    
            <div class="login-help">
                <div>
                <input type="checkbox" id="login" class="check">   
                <span>로그인 유지</span> 
                </div>
                <a href="#" class="text-success">비밀번호를 잊으셨나요? </a>
            
            </div>
            <div class="buttons">
                <button  type="submit" (click)="eLogIn()" class="login-button">로그인</button>  
                <button  type="submit" (click)="toRegister()" class="register-button">회원가입</button>
                <button  type="submit" (click)="gLogIn()" class="google-button">구글 로그인</button>
            </div>
    
    
            
        </div>
    </div>
    
    </div>