.content-container {
  grid-area: main;
  display: grid;
  align-content: stretch;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: min-content;
  gap: 20px 20px;
  grid-template-areas: "menu menu menu menu menu body body body body body body body body body body ";
}

app-open-api-menu {
  grid-area: menu;
}

.content {
  grid-area: body;
  margin-top: 4.3rem;
  border: 1px solid darkgray;
  border-radius: 20px;
  padding: 1.6rem 2rem;
}

.content > p {
  font-size: 1.5rem;
}

@media all and (max-width: 425px){
  .content-container {
    grid-area: main;
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: min-content;
    gap: 20px 20px;
    grid-template-areas: "menu menu menu menu menu menu menu menu menu menu"
                        "body body body body body body body body body body ";
  }

  .content {
    grid-area: body;
    margin-top: 0;
    border: 0;
    padding: 1.6rem 2rem;
  }
}

.section-header{
  display: block;
  font-size: 2.25rem;
  font-weight: 700;
}
.section-info{
  display: block;
  font-size: 1.3rem;
  font-weight: 500 ;
}

.float-right {
  font-size:20px;
  font-weight: 600;
  border: 2px solid #52B9FF;
  box-sizing: border-box;
  border-radius: 22.5px;
  color: #52B9FF;
}