<div class="uk-container uk-container-center">


  <div class="uk-align-center" uk-grid>
    <div class="form-group" style="padding-left:400px; background-color:burlywood;">






        <div class="input-group uk-margin-bottom">
          <input [(ngModel)]="registerUserData.name" name="nickname" type="text" class="form-control rounded-0"
          class="input-gray login-button-width" placeholder="이름" required="required">
          <div class="required" *ngIf="!registerUserData.name">이름을 입력해주세요.</div>
        </div>

      <div class="input-group uk-margin-bottom">
        <input [(ngModel)]="registerUserData.nickname" name="name" type="text" class="form-control rounded-0"
          class="input-gray login-button-width" placeholder="닉네임" required="required">
        <div class="required" *ngIf="!registerUserData.nickname">닉네임을 입력해주세요.</div>
      </div>

      <div class="input-group uk-margin-bottom">
        <input class="input-gray login-button-width" placeholder="신분" required="required">
        <div class="required" *ngIf="!input-gray">신분을 입력해주세요.</div>
      </div>

      <div class="input-group uk-margin-bottom">
        <input [(ngModel)]="registerUserData.inst" name="inst" type="text" class="form-control rounded-0"
          class="input-gray login-button-width" placeholder="기관" required="required">
        <div class="required" *ngIf="!registerUserData.inst">기관을 입력해주세요.</div>
      </div>

      <div class="input-group uk-margin-bottom">
        <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0"
          class="input-gray login-button-width" placeholder="이메일 입력" required="required">
        <div class="required" *ngIf="!registerUserData.email">이메일을 입력해주세요.</div>
      </div>

      <div class="input-group uk-margin-bottom">
        <input [(ngModel)]="pw1" name="password1" type="password" class="form-control rounded-0"
          class="input-gray login-button-width" placeholder="비밀번호를 비밀번호 입력" required="required">
        <div class="required" *ngIf="!pw1">입력해주세요.</div>
        </div>

      <div class=" input-group uk-margin-bottom">
          <input [(ngModel)]="pw2" name="password2" type="password" class="form-control rounded-0"
            class="input-gray login-button-width" placeholder="비밀번호 재입력" required="required">
          <div class="required" *ngIf="!checkIfValid()">입력한 비밀번호가 달라요.</div>
        </div>


        <button [disabled]="!checkIfValid()" (click)="registerUser()" type="button"
          class="button-blue login-button-width">가입하기 </button>

      </div>
      <!-- when click button, registerUser function init. -->
    </div>

</div>

 