<div class="content-container">
  <app-about-side-menu></app-about-side-menu>
  <section class="content">
    <h2><strong>통일빅데이터센터 (KUBIC: Korea Unification Bigdata Center)</strong></h2>
    <p>
      KUBiC은 국립통일교육원의 통일교육선도대학사업의 일환으로 사업에 참여하는 한동대 이공계 교수님들과 학생들과 함께, 교과과정과 연구를 통해 개발 된 웹기반 검색엔진 및 데이터 분석 시스템 입니다.
    </p> <br>
    <p>
      (1) 검색엔진 및 자료열람: 흩어진 통일관련 단체들의 문서들과 통일, 북한 관련 기사들을 인덱싱하여, 자료 검색을 통해 원자료 출처로 이동할 수 있는 링크를 제공합니다.
    </p>
    <p>
      (2) 자료분석: 검색을 통해 찾은 문서를 내 보관함에 추가할 수 있고, 내 보관함에 저장된 문서 목록에서 빈도수 분석, TF-IDF, n-gram, 유의어 분석, 군집분석, 의미연결망, 개체명인식, 토픽 모델 등 다양한 빅데이터 알고리즘을 통해 분석할 수 있습니다.
    </p><br>
    <p> <strong>
      KUBiC 연구개발 참여자
    </strong></p>
    <p>
      <b>* 백엔드 *</b><br>
      홍참길 교수 (한동대학교 전산전자공학부) <br><br>
      김미소 학생 <br>
      김현수 학생 <br>
      박수아 학생 <br>
      박지희 학생 <br>
      신민주 학생 <br>
      원은지 학생 <br>
      장지형 학생 <br>
      정찬미 학생 <br>
      최호윤 학생 <br>
    </p>
    <br>
    <p>
      <b>* 자료팀 *</b><br>
      박지현 교수 (한동대학교 글로벌리더십학부) <br><br>
      강신범 학생<br>
      금아현 학생<br>
      목하은 학생<br>
      박유경 학생<br>
      신지영 학생<br>
      연제린 학생<br>
      이성원 학생<br>
      한명천 학생<br>
    </p>
    <br>
    <p>
      <b>* 프론트엔드 *</b> <br>
      남재창 교수 (한동대학교 전산전자공학부) <br><br>
      권수진 학생 <br>
      백제형 학생 <br>
      서상원 학생 <br>
      송진범 학생 <br>
      양수진 학생 <br>
      이창공 학생 <br>
      전여훈 학생 <br>
      최복원 학생 <br>
      최윤호 학생 <br>
    </p>
  </section>
</div>
