.content-container {
  grid-area: main;
  display: grid;
  align-content: stretch;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: min-content;
  gap: 20px 20px;
  grid-template-areas: "menu menu menu menu menu body body body body body body body body body body ";
}

app-about-side-menu {
  grid-area: menu;
}
.content {
  grid-area: body;
  margin-top: 4rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 1.6rem 2rem;
}

.content > p {
  font-size: 1.5rem;
}
