h3 {
  font-size: 20px;
  font-weight: 400;
}

.doc-title {
  font-size: 25px;
  font-weight: 600;
}

p {
  font-size: 15px;
  margin: 0;
}

.doc-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.doc-title {
  margin-left: 10px;
}

.doc-date-writer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.doc-content {
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  height: 300px;
  resize: none;
  overflow: auto;
  width: 100%;
  font-size: 17px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-list,
.button-mod,
.button-del {
  width: 60px;
  height: 32px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: rgb(97, 97, 97);
  outline: none;
  margin: 5px;
}
