<div>
    <h3 class="mypage"><strong> 마이페이지 </strong></h3> 
    <div class="leri">
        <div class="left-menu">
            <ul>
                <li class="list"><a (click)="toMyDocs()">내 보관함</a></li>
                <li class="list"><a (click)="toMyAnalysis()">내 분석함</a></li>
                <li class="list"><a (click)="toMemberInfo()">회원정보관리</a></li>
                <li class="list"><a (click)="toOpenAPI()">OpenAPI</a></li>
                <li class="list"><a (click)="toSecession()">회원탈퇴</a></li>
            </ul>
        </div>
  
        <div class="right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>