*:focus {
    outline: none;
}

.bundle {
    border       : 1px solid #c2c2c2;
    border-radius: 50px;
    height       : 515px;
    width        : 900px;
    padding-left : 70px;
    padding-top  : 30px;
}

.where {
    display       : flex;
    flex-direction: row;
    padding-left  : 50px;
    margin-bottom : 9px;
}

.button {
    margin-left     : 325px;
    margin-bottom   : 20px;
    background-color: rgb(97, 97, 97);
    color           : white;
    border          : none;
    border-radius   : 40px;
    width           : 100px;
    height          : 35px;
}