<p class="location">홈 > 홈페이지 소개 > 사이트 소개</p>
<hr />
<div>
  <h1>홈페이지 소개</h1>
  <div class="introduce">
    <div class="left-outline">
      <ul>
        <li class="list">
          <a (click)="toSiteIntro()" class="color">사이트소개</a>
        </li>
        <li class="list"><a (click)="toServiceGuide()">서비스안내</a></li>
        <li class="list"><a (click)="toCollectedInfo()">수집정보</a></li>
        <li class="list"><a (click)="toMemberPolicy()">회원정책</a></li>
      </ul>
    </div>

    <div class="right-container">
      <div class="cont">
        <p><strong>통일빅데이터 분석 서비스 KUBiC</strong></p>
        <p>
          큐빅 서비스는 다양한 사이트로부터 수집한 자료로 구성된 통합
          데이터베이스에 빅데이터 분석 기술을 접목하여 만든 새로운 자료 분석
          서비스입니다.
        </p>
      </div>
    </div>
  </div>
</div>
