<div class="content-container">
  <app-about-side-menu></app-about-side-menu>
  <section class="content">
    <p>
      <strong>
        {{'collected-info.dataPolicy1'|translate}}
      </strong>
      <br />
      {{'collected-info.dataPolicy1-1'|translate}}
      <br/>
      &nbsp;&nbsp;&nbsp;
      {{'collected-info.dataPolicy1-1-1'|translate}}<br />
      {{'collected-info.dataPolicy1-2'|translate}}<br />
      &nbsp;&nbsp;&nbsp;
      {{'collected-info.dataPolicy1-2-1'|translate}}<br />
      {{'collected-info.dataPolicy1-3'|translate}}
      <br /><br />

      <strong>
        {{'collected-info.dataPolicy2'|translate}}
      </strong>
      <br />

      {{'collected-info.dataPolicy2-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;
      {{'collected-info.dataPolicy2-1-1'|translate}}
      {{'collected-info.dataPolicy2-1-2'|translate}}<br />

      {{'collected-info.dataPolicy2-2'|translate}}
      <br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy2-2-1'|translate}}
      <br /><br />

      <strong>{{'collected-info.dataPolicy3'|translate}}</strong><br />

      {{'collected-info.dataPolicy3-1'|translate}}
      <br /><br />
      <strong>{{'collected-info.dataPolicy4'|translate}}</strong><br />

      {{'collected-info.dataPolicy4-1'|translate}}
      <br />
      {{'collected-info.dataPolicy4-2'|translate}}
      <br />
      {{'collected-info.dataPolicy4-3'|translate}}
      <br /><br />

      <strong>{{'collected-info.dataPolicy5'|translate}}</strong><br />

      {{'collected-info.dataPolicy5-1'|translate}}
      <br />

      <strong>{{'collected-info.dataPolicy6'|translate}}</strong><br />

      {{'collected-info.dataPolicy6-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;-{{'collected-info.dataPolicy6-1-1'|translate}}<br />
      {{'collected-info.dataPolicy6-2'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-2-1'|translate}}<br />
      {{'collected-info.dataPolicy6-3'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-3-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-3-2'|translate}}<br />
      {{'collected-info.dataPolicy6-4'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-4-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-4-2'|translate}}<br />
      {{'collected-info.dataPolicy6-5'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-5-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-5-2'|translate}}<br />
      {{'collected-info.dataPolicy6-6'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-6-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-6-2'|translate}}<br />
      {{'collected-info.dataPolicy6-7'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-7-1'|translate}}<br />
      {{'collected-info.dataPolicy6-8'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy6-8-1'|translate}}<br /><br />

      <strong>{{'collected-info.dataPolicy7'|translate}}</strong><br />

      {{'collected-info.dataPolicy7-0'|translate}}<br />
      {{'collected-info.dataPolicy7-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-2'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-3'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-4'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-5'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-6'|translate}} <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-1-7'|translate}}<br />
      {{'collected-info.dataPolicy7-2'|translate}}<br />
      &nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-2-1'|translate}}<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'collected-info.dataPolicy7-2-2'|translate}}<br /><br />
    </p>
  </section>
</div>
