<aside class="sidebar-container">
  <h1>{{ title }}</h1>
  <div class="menus">
    <ul>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'manual')"
        class="menu-item"
        id="manual">
        <a (click)="toManual()">{{'analysis.manual.manual'|translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'preprocessing')"
        class="menu-item"
        id="preprocessing">
        <a (click)="toPreprocessing()">{{'analysis.preprocessing.preprocessing'|translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'analysis')"
        class="menu-item"
        id="analysis">
        <a (click)="toAnalysis()">{{'navbar.analysis'|translate}}</a>
      </li>
    </ul>
  </div>
</aside>
