<aside>
  <h1>{{'마이페이지'|translate}}</h1>
  <div class="outline">
    <ul>
      <li
        [ngStyle]="selectedStyleObject(currentMenu === 'my-docs')"
        class="list"
      >
        <a (click)="toMyDocs()">{{'navbar.myDocuments'|translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu === 'my-analysis')"
        class="list"
      >
        <a (click)="toMyAnalysis()">{{'navbar.myAnalysis'|translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu === 'member-info')"
        class="list"
      >
        <a (click)="toMemberInfo()">{{'navbar.privacy'|translate}}</a>
      </li>
      <!-- <li
        [ngStyle]="selectedStyleObject(currentMenu === 'open-api')"
        class="list"
      >
        <a (click)="toOpenAPI()">OpenAPI</a>
      </li> -->
      <li
        [ngStyle]="selectedStyleObject(currentMenu === 'secession')"
        class="list"
      >
        <a (click)="toSecession()">{{'navbar.rmAccount'|translate}}</a>
      </li>
    </ul>
  </div>
</aside>
