@media all and (min-width: 1441px) {
  aside {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px 20px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      ". . . title title"
      "outline outline outline outline outline";
  }

  .outline {
    grid-area: outline;
    border: 1px solid #606060;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px 20px;
    grid-template-rows: min-content;
    grid-template-areas: ". . . menu menu";
  }
}

@media all and (min-width: 1025px) and (max-width: 1440px) {
  aside {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px 20px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      ". .  title title"
      " outline outline outline outline";
  }

  .outline {
    grid-area: outline;
    border: 1px solid #606060;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px 20px;
    grid-template-rows: min-content;
    grid-template-areas: ". .  menu menu";
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  aside {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px 20px;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      ". title title"
      " outline outline outline";
  }

  .outline {
    grid-area: outline;
    border: 1px solid #606060;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px 20px;
    grid-template-rows: min-content;
    grid-template-areas: ".  menu menu";
  }
}

h1 {
  grid-area: title;
  text-align: center;
}

ul {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 20px 20px 0;
  padding: 0;
}

ul > li {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media all and (max-width: 768px){
  .outline{
    display : none;
  }

  h1 {
    font-size: 2rem !important;
    text-align: left;
    padding : 15px 20px;
  }
}

@media all and (max-width: 495px){
  h1 {
    font-size: 1.7rem !important;
    padding : 15px 0px;
  }
}
