<aside class="sidebar-container">
  <h1>{{ title }}</h1>
  <div class="menus">
    <ul>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'intro')"
        class="menu-item"
        id="intro">
        <a (click)="toSiteIntro()">사이트소개</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'service-guide')"
        class="menu-item"
        id="service-guide">
        <a (click)="toServiceGuide()">서비스안내</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'collected-info')"
        class="menu-item"
        id="collected-info">
        <a (click)="toCollectedInfo()">수집정보</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'member-policy')"
        class="menu-item"
        id="member-policy">
        <a (click)="toMemberPolicy()">회원정책</a>
      </li>
    </ul>
  </div>
</aside>
