<aside class="sidebar-container">
  <h1>{{ getTranslatedTitle() }}</h1>
  <div class="menus">
    <ul>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'intro')"
        class="menu-item"
        >
        <a (click)="toSiteIntro()">{{'about-side-menu.introduction'|translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'service-guide')"
        class="menu-item"
        >
        <a (click)="toServiceGuide()">{{"about-side-menu.guide" | translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'collected-info')"
        class="menu-item"
        >
        <a (click)="toCollectedInfo()">{{'about-side-menu.infoPolicy' | translate}}</a>
      </li>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'member-policy')"
        class="menu-item"
        >
        <a (click)="toMemberPolicy()">{{'about-side-menu.accountPolicy' | translate}}</a>
      </li>
    </ul>
  </div>
</aside>
