<div class="content-container">
  <app-open-api-menu></app-open-api-menu>

  <section class="content">
    <span class="section-header">{{'open-api.활용관리'|translate}}</span>
    <span class="section-info">{{'open-api.활용관리line'|translate}}</span>
    <hr>
    <!-- <p>
      {{name}} {{'open-api.greeting'|translate}}
      <br>
      {{'open-api.howManyCalls1'|translate}}{{count}}{{'open-api.howManyCalls2'|translate}}
    </p> -->
    <div style="float:right">
      <button (click)=toRegister() class="api-register">{{'open-api.callRequest'|translate}}</button>
    </div>
    <table>
      <thead>
        <tr>
          <th class="doc-num">No.</th>
          <th class="doc-title">{{'open-api.requestTitle'|translate}}</th>
          <th class="doc-type"> {{'open-api.requestType' | translate}} </th>
          <th class="doc-purpose">{{'open-api.requestReason'|translate}}</th>
          <th class="doc-postdate">{{'open-api.requestDate'|translate}}</th>
          <th class="doc-postdate">{{'open-api.expiration'|translate}}</th>
          <th class="doc-postdate">{{'open-api.dataAmount'|translate}}</th>
          <th class="doc-manage">{{'open-api.management'|translate}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let info of infos; index as idx">
          <td class="text-center">{{ idx+1 }}</td>
          <td class="text-center">{{ info['app_type']=='private'?'전문가용':'일반인용'}}</td>
          <td class="text-center">{{ info['app_name'] }}</td>
          <td class="text-center">{{ info['app_purpose'] }}</td>
          <td class="text-center">{{ info['reporting_date'] }}</td>
          <td class="text-center">{{ info['expiration_date'] }}</td>
          <td class="text-center">{{ info['traffic'] }}</td>
          <td class="text-center">
            <!-- <button>수정</button> -->
            <button (click)="reissue(info['_id'])">{{'open-api.reissueAuthenticationKey'|translate}}</button>
            <button (click)="delete(info['_id'])">{{'삭제'|translate}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
