<div class="content-container">
  <app-open-api-menu></app-open-api-menu>
  
  <section class="content">
    <span class="section-header">활용 관리</span>
    <span class="section-info">Open API 활용을 신청하거나 인증키 재발급을 받을 수 있습니다.</span>
    <hr>
    <p> 
      {{name}} 님 오늘도 즐거운 하루 되세요!!!
      <br>
      현재까지 당신이 신청한 활용은 {{count}} 개 입니다.
    </p>
      <button (click)=toRegister()>활용신청</button>

    <table>
      <thead>
        <tr>
          <th class="doc-num">No.</th>
          <th class="doc-type">활용타입</th>
          <th class="doc-title">활용명</th>
          <th class="doc-purpose">활용목적</th>
          <th class="doc-postdate">등록일</th>
          <th class="doc-postdate">만료일</th>
          <th class="doc-postdate">데이터량</th>
          <th class="doc-manage">관리</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let info of infos; index as idx">
          <td class="text-center">{{ idx+1 }}</td>
          <td class="text-center">{{ info['app_type']=='private'?'전문가용':'일반인용'}}</td>
          <td class="text-center">{{ info['app_name'] }}</td>
          <td class="text-center">{{ info['app_purpose'] }}</td>
          <td class="text-center">{{ info['reporting_date'] }}</td>
          <td class="text-center">{{ info['expiration_date'] }}</td>
          <td class="text-center">{{ info['traffic'] }}</td>
          <td class="text-center">
            <button>수정</button>
            <button (click)="reissue(info['_id'])">인증키 재발급</button>
            <button (click)="delete(info['_id'])">삭제</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
