<footer>
  <hr />
  <div class="footer-contents">

    <div class="handong-logo">
      <img src="../../../../assets/icons/unikorea.jpg" width=200 />
      <img src="../../../../assets/logos/handong_logo.png" width=135 />
    </div>
      <div class="policy">
      <ul>
        <li><a href="./about/member-policy">{{'footer.Terms'|translate}}</a></li>
        <li><a href="./about/collected-info">{{'footer.privacyRule'|translate}}</a></li>
        <li><a>{{'footer.unauthorizedEmail'|translate}}</a></li>
        <li><a>{{'footer.citeMap'|translate}}</a></li>
      </ul>
    </div>

    <div class="contact">
      <ul class="contact-info">
        <li>{{'footer.address' | translate}}</li>
        <li><a href="tel:+82542601515">054-260-3058</a></li>
        <li><a href="mailto:kubic@handong.edu">kubic@handong.edu</a></li>
      </ul>
      <span
        >COPYRIGHT&copy; 2021 KUBiC HANDONG GLOBAL UNIVERSITY. ALL RIGHTS
        RESERVED.</span
      >
    </div>

    <div class="handong-logo-mobile">
      <img src="../../../../assets/logos/handong_logo.png" />
    </div>

  </div>
</footer>
