<div class="content-container">
  <app-about-side-menu></app-about-side-menu>
  <section class="content">
    <p>
      <strong>{{'member-policy.accountPolicy1'|translate}}</strong><br />
      {{'member-policy.accountPolicy1-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy2'|translate}}</strong><br />
      {{'member-policy.accountPolicy2-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy3'|translate}}</strong><br />
      {{'member-policy.accountPolicy3-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy4'|translate}}</strong><br />
      {{'member-policy.accountPolicy4-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy5'|translate}}</strong><br />
      {{'member-policy.accountPolicy5-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy6'|translate}}</strong><br />
      {{'member-policy.accountPolicy6-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy7'|translate}}</strong><br />
      {{'member-policy.accountPolicy7-1'|translate}}<br />
      {{'member-policy.accountPolicy7-2'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy8'|translate}}</strong><br />
      {{'member-policy.accountPolicy8-1'|translate}}<br />
      {{'member-policy.accountPolicy8-2'|translate}}<br />
      {{'member-policy.accountPolicy8-3'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy9'|translate}}</strong><br />
      {{'member-policy.accountPolicy9-1'|translate}}<br />
      {{'member-policy.accountPolicy9-2'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy10'|translate}}</strong><br />
      {{'member-policy.accountPolicy10-1'|translate}}<br />
      {{'member-policy.accountPolicy10-2'|translate}}<br />
      {{'member-policy.accountPolicy10-3'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy11'|translate}}</strong><br />
      {{'member-policy.accountPolicy11-1'|translate}}<br />
      {{'member-policy.accountPolicy11-2'|translate}}<br />
      {{'member-policy.accountPolicy11-3'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy12'|translate}}</strong><br />
      {{'member-policy.accountPolicy12-1'|translate}}<br /><br />

      <strong>{{'member-policy.accountPolicy13'|translate}}</strong><br />
      {{'member-policy.accountPolicy13-1'|translate}}
    </p>
  </section>
</div>
