<div class="content-container">
  <app-about-side-menu></app-about-side-menu>
  <section class="content">
    <p>
      <strong>{{'accountPolicy1'|translate}}</strong><br />
      {{'accountPolicy1-1'|translate}}<br /><br />

      <strong>{{'accountPolicy2'|translate}}</strong><br />
      {{'accountPolicy2-1'|translate}}<br /><br />

      <strong>{{'accountPolicy3'|translate}}</strong><br />
      {{'accountPolicy3-1'|translate}}<br /><br />

      <strong>{{'accountPolicy4'|translate}}</strong><br />
      {{'accountPolicy4-1'|translate}}<br /><br />

      <strong>{{'accountPolicy5'|translate}}</strong><br />
      {{'accountPolicy5-1'|translate}}<br /><br />

      <strong>{{'accountPolicy6'|translate}}</strong><br />
      {{'accountPolicy6-1'|translate}}<br /><br />

      <strong>{{'accountPolicy7'|translate}}</strong><br />
      {{'accountPolicy7-1'|translate}}<br />
      {{'accountPolicy7-2'|translate}}<br /><br />

      <strong>{{'accountPolicy8'|translate}}</strong><br />
      {{'accountPolicy8-1'|translate}}<br />
      {{'accountPolicy8-2'|translate}}<br />
      {{'accountPolicy8-3'|translate}}<br /><br />

      <strong>{{'accountPolicy9'|translate}}</strong><br />
      {{'accountPolicy9-1'|translate}}<br />
      {{'accountPolicy9-2'|translate}}<br /><br />

      <strong>{{'accountPolicy10'|translate}}</strong><br />
      {{'accountPolicy10-1'|translate}}<br />
      {{'accountPolicy10-2'|translate}}<br />
      {{'accountPolicy10-3'|translate}}<br /><br />

      <strong>{{'accountPolicy11'|translate}}</strong><br />
      {{'accountPolicy11-1'|translate}}<br />
      {{'accountPolicy11-2'|translate}}<br />
      {{'accountPolicy11-3'|translate}}<br /><br />

      <strong>{{'accountPolicy12'|translate}}</strong><br />
      {{'accountPolicy12-1'|translate}}<br /><br />

      <strong>{{'accountPolicy13'|translate}}</strong><br />
      {{'accountPolicy13-1'|translate}}
    </p>
  </section>
</div>
