<div class="content-container">
  <app-about-side-menu></app-about-side-menu>
  <section class="content">
    <p>
      <strong>제1조(목적)</strong><br />
      본 회원약관은 통일빅데이터센터(이하 'KUBiC' 이라 칭함)의 이용조건 및
      절차에 관한 사항을 규정하는 것을 목적으로 한다.<br /><br />

      <strong>제2조(회원약관의 효력)</strong><br />
      본 약관은 KUBiC 회원 가입시 회원들에게 공지하고 동의함으로서 효력이
      발생한다.<br /><br />

      <strong>제3조(회원약관의 수정)</strong><br />
      KUBiC은 본 약관을 변경할 수 있으며 변경되는 약관은 화면에 게재하여
      회원들에게 공지함으로써 효력이 발생한다.<br /><br />

      <strong>제4조(이용계약의 체결)</strong><br />
      회원 가입시 회원 약관 밑에 있는 동의버튼을 누르면 약관에 동의하여 이
      계약이 체결된 것으로 간주한다.<br /><br />

      <strong>제5조(이용신청)</strong><br />
      회원 가입은 온라인으로 가입신청 양식에 기록하여 신청하며, 가입희망 회원은
      반드시 신분과 소속기관을 기재하며 Google 계정을 통해 가입해야한다.<br /><br />

      <strong>제6조(회원가입의 승낙)</strong><br />
      KUBiC의 회원 가입 신청 양식에 가입 희망 회원이 인터넷으로 제 5조와 같이
      신청하면 KUBiC은 바로 가입을 승인하며 KUBiC에서 운영하는 기타 웹서비스를
      이용할 수 있다.<br /><br />

      <strong>제7조(회원의 의무)</strong><br />
      회원의 아이디와 비밀번호의 관리와 책임은 회원에게 있으며 관리소홀과
      부정사용으로 인한 모든 사항은 회원에게 귀책된다.<br />
      또한 이용회원은 KUBiC의 서비스를 불법으로 복제 유통시키거나, 해킹 혹은
      불법적이거나 기타 경로를 통하여 취득한 타인의 정보로 정보사이트를 이용하여
      타인에게 손해를 입힐 경우 민형사상의 책임을 지게 된다.<br /><br />

      <strong>제8조(KUBiC의 의무)</strong><br />
      KUBiC은 서비스제공과 관련된 이용회원의 정보를 회원의 허락없이 타인에게
      누설하지 않는다.<br />
      다만 KUBiC의 서비스 이용약관을 위배하는 사람이나 KUBiC의 서비스를 이용하여
      타인에게 법적인 피해를 주거나 미풍양속을 해치는 행위를 한 사람 등에게
      법적인 조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한
      근거가 있는 경우는 예외로 한다.<br />
      이 경우에도 개인에게는 제공되지 않으며 규정된 절차에 따라서 수사기관에만
      제공할 수 있다.<br /><br />

      <strong>제9조(개인정보 보호)</strong><br />
      ① KUBiC는 적법하고 공정한 수단에 의하여 사용자 관리에 필요한 최소한의 범위
      내에서 이용고객의 회원정보를 수집한다.<br />
      ② KUBiC는 관계법령이 정하는 바에 따라 회원의 회원정보를 보호하기 위하여
      "개인정보보호정책"을 제정하여 운영한다.<br /><br />

      <strong>제10조(서비스 이용시간)</strong><br />
      KUBiC의 인터넷 서비스는 년중무휴로 1일 24시간 운영된다.<br />
      단, KUBiC의 설비 보수 공사등의 사유나 운영상의 이유로 서비스를 일시중지 할
      수 있다.<br />
      이 때 KUBiC은 사전에 공지를 하여 회원들에게 알린다.<br /><br />

      <strong>제11조(동의 거부)</strong><br />
      회원 가입 신청자는 개인정보 제공 등에 관해 동의하지 않을 권리가
      있습니다.<br />
      단, 신청 시 제공받는 정보는 학사 및 학생지도에 필수적인 항목으로 해당
      정보를 제공 받지 못할 경우 서비스를 제공 받으실 수 없습니다.<br />
      따라서 개인정보 제공에 대해 동의하지 않는 경우 회원 가입이 제한 될 수
      있습니다.<br /><br />

      <strong>제12조(관할 법원)</strong><br />
      KUBiC과 회원간의 분쟁이 발생할 경우 KUBiC의 소재지 법원을 관할 법원으로
      한다.<br /><br />

      <strong>[부칙]</strong><br />
      이 약관은 사이트 가입시점 부터 시행한다.
    </p>
  </section>
</div>
