<div class="search-detail-area">
  <h2>문서 상세보기</h2>
  <div *ngIf="article">
    <div>
      <div class="article-header">
        <h3 class="header-title"> {{ article.post_title }} </h3>
        <h3 class="header-writer"> {{ article.post_writer }} </h3>
      </div>
      <hr>
      <div class="inst-url-container">
        <a class="inst-url" href="{{ article.published_institution_url }}">{{article.published_institution_url}}</a>
      </div>

      <ul class="article-info">

        <li class="info">
          <div class="info-title"> 발행기관 </div>
          <div class="info-content"> {{ article.published_institution }}</div>
        </li>
        <li class="info">
          <div class="info-title"> 간행물 </div>
          <div class="info-content"> </div>
        </li>
        <li class="info">
          <div class="info-title"> 간행물 구분 </div>
          <div class="info-content"> </div>
        </li>
        <li class="info">
          <div class="info-title"> 발행년월 </div>
          <div class="info-content"> {{ article.post_date }}</div>
        </li>
        <li class="info">
          <div class="info-title"> 페이지 </div>
          <div class="info-content"> {{ article.page }}</div>
        </li>
        <li class="info">
          <div class="info-title"> 자료열람 </div>
          <div class="info-content"> <a href="{{ article.file_download_url }}"> 열람하기 </a></div>
        </li>
      </ul>

      <!-- 소제목들 -->
      <div class="article-index">
        <h4 class="article-content-subtitle">목차</h4>
        <hr>
        <div class="detail-body">
          {{ article.post_body }}
        </div>
      </div>

      <div class="article-abtract">
        <h4 class="article-content-subtitle">초록</h4>
        <hr>
        <div class="detail-body"></div>
      </div>

      <div class="article-related">
        <h4 class="article-content-subtitle">연관문서</h4>
        <hr>
        <div class="detail-body">
          <ul>
            <li *ngFor="let rcmd of rcmdList; index as r">
              <a class="detail-content" (click)="goToDoc(r)">{{ rcmd["title"] }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="article-wordcloud">
        <h4 class="article-content-subtitle">워드클라우드</h4>
        <div class="detail-body" *ngIf="0 === isCloudLoaded"> 데이터 분석이 진행 중인 문서입니다. 이후에 다시 열람해주세요.</div>
        <div class="detail-body wordcloud" *ngIf="0 < isCloudLoaded">
          <angular-tag-cloud [data]="cData" [step]=5>
          </angular-tag-cloud>
        </div>
      </div>

      <div class="article-more">
        <h4 class="article-content-subtitle">추가 자료</h4>
        <hr>
        <div class="detail-body">
          <span> 등록된 정보가 없습니다. </span>
        </div>

      </div>
