* {
  font-family: 'Noto Sans KR', sans-serif;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 50px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

hr {
  margin: 10px 0px;
}

.search-detail-container {
  padding: 0 15%;

}

.article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 22px;
}

.header-writer {
  font-size: 17px;
  font-weight: 400;
}

.inst-url-container {
  display: flex;
  justify-content: flex-end;
}

.inst-url {
  font-size: 17px;
  margin: 10px 0px;
  color: gray;
}

.article-info {
  margin-bottom: 100px;
}

.info {
  margin-bottom: 5px;
  font-size: 17px;
  display: flex;
}

.info-title {
  margin-right: 15px;
  width: 145px;
  text-align: center;
  background-color: rgb(228, 228, 228);
  padding: 5px 25px;
}

.info-content {
  display: flex;
  align-items: center;
}

.article-content-subtitle {
  font-size: 19px;
  font-weight: bold;
  color: gray;
  margin-left: 15px;
}

.detail-body {
  margin: 20px 70px;
}

.empty-data {
  text-align: center;
}

.wordcloud {
  display: flex;
  justify-content: center;
  border: 0.5px solid lightgray;
  border-radius: 15px;
  padding: 50px;
}
