<hr />

<div class="dashboard-body">
  <aside>
    <div class="title">
      <h1>자료 분석</h1>
      <h2>내 보관 자료</h2>
    </div>
    <section *ngIf="isSavedDocsLoaded" class="saved-document-list">
      <ul>
        <li *ngFor="let doc of savedDocs; index as idx">
          <input
            class="checkbox"
            type="checkbox"
            (change)="addDocToAnalysis(idx)"
            id="{{ idx }}"
          />
          <label for="{{ idx }}"> {{ doc["title"] }}</label>
        </li>
      </ul>
      <div class="page-numbers">
        <button
          *ngIf="pageInfo.currentPage > 1"
          (click)="loadSavedDocs(pageInfo.currentPage - 10)"
        >
          <<
        </button>
        <button
          *ngIf="pageInfo.currentPage > 1"
          (click)="loadSavedDocs(pageInfo.currentPage - 1)"
        >
          <
        </button>
        <button
          [ngStyle]="selectedStyleObject(pageInfo.currentPage === i)"
          (click)="loadSavedDocs(i)"
          *ngFor="let i of pageInfo.pages"
        >
          {{ i }}
        </button>
        <button
          *ngIf="pageInfo.currentPage < pageInfo.totalPages"
          (click)="loadSavedDocs(pageInfo.currentPage + 1)"
        >
          >
        </button>
        <button
          *ngIf="pageInfo.currentPage != pageInfo.totalPages"
          (click)="loadSavedDocs(pageInfo.currentPage + 10)"
        >
          >>
        </button>
      </div>
    </section>
  </aside>

  <main class="analysis">
    <section class="select-analysis">
      <form class="select-analysis-form">
        <div class="select-analysis-up-menu">
          <div class="select-analysis-type">
            <h2>원하는 분석 선택</h2>
            <input
              [ngStyle]="selectedStyleObject(selectedAnalysisType === 0)"
              (click)="setAnalysisType(0)"
              type="button"
              value="키워드 분석"
              name="type"
            />
            <input
              [ngStyle]="selectedStyleObject(selectedAnalysisType === 1)"
              (click)="setAnalysisType(1)"
              type="button"
              value="연관문서"
              name="type"
            />
          </div>
          <div class="select-analysis-graph">
            <h2>원하는 그래프 선택</h2>
            <input
              [ngStyle]="selectedStyleObject(selectedChartType === 0)"
              (click)="setChartType(0)"
              type="button"
              value="도넛형"
              name="graph"
            />
            <input
              [ngStyle]="selectedStyleObject(selectedChartType === 1)"
              (click)="setChartType(1)"
              type="button"
              value="꺾은선형"
              name="graph"
            />
            <input
              [ngStyle]="selectedStyleObject(selectedChartType === 2)"
              (click)="setChartType(2)"
              type="button"
              value="워드클라우드"
              name="graph"
            />
            <input
              [ngStyle]="selectedStyleObject(selectedChartType === 3)"
              (click)="setChartType(3)"
              type="button"
              value="세로막대형"
              name="graph"
            />
          </div>
        </div>
        <div class="select-analysis-down-menu">
          <div class="select-analysis-data-num">
            <h2>출력할 데이터의 숫자</h2>
            <select
              [ngStyle]="selectedStyleObject(selectedDataNum !== 0)"
              (change)="setSelectedDataNum($event.target.value)"
            >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="submit-container">
            <input
              (click)="generateChartAnalysisResult()"
              type="submit"
              value="분석"
            />
            <input (click)="resetSelections()" type="reset" value="재설정" />
          </div>
        </div>
      </form>
    </section>

    <section *ngIf="isChartLoaded" class="analysis-result">
      <button>내 분석함에 담기</button>
      <canvas
        baseChart
        [data]="chartData"
        [labels]="chartLabels"
        [chartType]="chartType"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [legend]="chartLegend"
      >
      </canvas>
    </section>
  </main>
</div>
