h1 {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

ul {
  padding: 0;
}

.checkbox {
  margin-right: 10px;
}

.dashboard-body {
  display: flex;
  width: 100%;
}

aside {
  width: 40%;
  margin-right: 20px;
}

.title {
  padding-left: 15vw;
}

.saved-document-list {
  border: 1px solid lightgray;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px 20px 20px 15vw;
}

.saved-document-list > ul > li {
  overflow: hidden;
  display: flex;
  align-items: baseline;
}

.saved-document-list > ul > li > label {
}

.analysis {
  width: 60%;
}

.analysis h2 {
  margin-left: 10px;
}

.select-analysis,
.analysis-result {
  border: 1px solid lightgray;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 20px 15vw 0px 40px;
  display: flex;
}

.select-analysis-graph {
  width: fit-content;
  flex-basis: 350px;
  margin-bottom: 20px;
}

.select-analysis-form {
  display: flex;
  flex-direction: column;
}

.select-analysis-up-menu,
.select-analysis-down-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.select-analysis-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  margin-bottom: 20px;
}

div > input {
  width: 170px;
  height: 40px;
  margin: 5px 5px 5px 0px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid lightgray;
  font-size: 15px;
}

.select-analysis-data-num {
  margin-bottom: 20px;
}

.select-analysis-data-num > select {
  width: 170px;
  height: 40px;
  margin: 5px 5px 5px 0px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid lightgray;
  font-size: 15px;
  text-align-last: center;
}

.submit-container {
  margin-bottom: 20px;
}

.submit-container > input {
  color: white;
  background-color: rgb(97, 97, 97);
}

.page-numbers {
  text-align: center;
  width: 100%;
}

.page-numbers button {
  margin: 0 3px;
  display: inline-block;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.page-numbers button:active,
.page-numbers button:focus {
  outline: 0;
}
