<section *ngIf="isSavedDocsEmpty" class="saved-document-list">
  문서함이 비었습니다.
</section>

<section *ngIf="isSavedDocsLoaded" class="saved-document-list">
  <span class="section-header">내 보관함</span>
  <span class="section-info">분석하실 문서를 선택해주세요.</span>
  <hr>
  
  <div class="savedDocTable">
  <table>
    <thead>
      <tr>
        <th>선택</th>
        <th>검색 키워드</th>
        <th>문서목록</th>
        <th>수집날짜</th>
        <!-- <th>통계</th> -->
        <th>전처리</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docSet of savedDocs;index as idx">
          <td><input 
            class="article-radio"
            type="radio"
            name="selectDoc"
            [value]="idx"
            (change)="emitData('select',docSet['keyword'], docSet['savedDate'], docSet['preprocessed'])"
          /></td>
          
          <td class="text-center">{{ docSet['keyword'] }}</td>
          <td class="text-center"><ul *ngFor="let adoc of docSet['title']" class="text-left">
            <div class="savedAdocTable"> - {{adoc}}</div>
            </ul>
          </td>
          <td class="text-center">{{ docSet['savedDate_format']}}</td>
          <!-- <td class="text-center">총문서수:{{ docSet['savedDocHashKeys'].length}}개<br> 평균 단어수:230개</td> -->
          <td class="text-center">
          <div *ngIf="docSet['preprocessed']">
          <button class="tablebtn"(click)="emitData('preview',docSet['keyword'],docSet['savedDate'])">미리보기</button>
          <button class="tablebtn"(click)="emitData('download',docSet['keyword'], docSet['savedDate'])">다운로드</button>
          </div>
        </td>
    </tr>
    </tbody>
  </table>
  </div>
  
  <hr>
</section>