<input class=search-bar (keyup.enter)="searchDocs($event)" placeholder="{{'검색'|translate}}" />

<div class="submenu-container">
  <table>
    <thead>
      <tr>
        <th class="doc-num">{{'community-board.announceNo'|translate}}</th>
        <th class="doc-announcement"></th>
        <th class="doc-title">{{'community-board.announceTitle'|translate}}</th>
        <th class="doc-postdate">{{'community-board.announceDate'|translate}}</th>
      </tr>
    </thead>

    <tbody *ngIf="docList">
      <tr *ngFor="let doc of docList; let i = index"
        [ngStyle]="{'background-color': i < mainAnnounceNum ? 'rgb(236, 239, 239)' : 'white'}">
        <td class="doc-num">{{ doc["docId"] }}</td>
        <td>
          <div *ngIf="doc['isMainAnnounce']" class="doc-announcement announcement-button">공지</div>
        </td>
        <td class="doc-title"> <a (click)="navToReadThisDoc(i)">{{ doc["title"] }}</a></td>
        <td class="doc-postdate">{{ doc["regDate"] }}</td>
      </tr>
    </tbody>

    <tbody *ngIf="!docList.length">
      <tr>
        <td class="no-docs" rowspan="4" colspan="4">{{'community-board.noContents'|translate}}</td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <button *ngIf="isAdmin" class="button-write" (click)="navToWriteNewDoc()">{{'community-board.write'|translate}}</button>
  </div>


  <div class="page-numbers">
    <button id="page-multiprev" *ngIf="currentPage > 1" (click)="loadPage(currentPage - 10)"></button>
    <button id="page-prev" *ngIf="currentPage > 1" (click)="loadPage(currentPage - 1)"></button>
    <button [ngStyle]="{
      'background-color': currentPage == i ? '#52b9ff' : 'transparent',
      color: currentPage == i ? 'white' : 'black'
    }" (click)="loadPage(i)" *ngFor="let i of pages">
      {{ i }}
    </button>
    <button id="page-next" *ngIf="currentPage < totalPages" (click)="loadPage(currentPage + 1)"></button>
    <button id="page-multinext" *ngIf="currentPage != totalPages" (click)="loadPage(currentPage + 10)"> </button>
  </div>
</div>
