<aside class="sidebar-container">
  <h1>{{ title }}</h1>
  <div class="menus">
    <ul>
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'document')"
        class="menu-item"
        id="document">
        <a (click)="toDocument()">매뉴얼</a>
      </li>
      
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'management')"
        class="menu-item"
        id="management">
        <a (click)="toManagement()">활용관리</a>
      </li>
      
      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'gotoapi')"
        class="menu-item"
        id="gotoapi">
        <a (click)="toGotoapi()">API이동</a>
      </li>
    </ul>
  </div>
</aside>
