<aside class="sidebar-container">
  <h1>{{ title }}</h1>
  <div class="menus">
    <ul>
      <!-- <li
        [ngStyle]="selectedStyleObject(currentMenu == 'document')"
        class="menu-item"
        id="document">
        <a (click)="toDocument()">매뉴얼</a>
      </li> -->

      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'management')"
        class="menu-item"
        id="management">
        <a (click)="toManagement()">{{'open-api.활용관리'|translate}}</a>
      </li>

      <li
        [ngStyle]="selectedStyleObject(currentMenu == 'gotoapi')"
        class="menu-item"
        id="gotoapi">
        <a (click)="toGotoapi()">{{'open-api.goToAPI'|translate}}</a>
      </li>
    </ul>
  </div>
</aside>
