.result-page {
  display: flex;
  width: 100%;
}

.related-keywords-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-size: 15px;
}

.related-keywords-container>p {
  font-weight: 600;
  color: #52b9ff;
}

.related-keywords-container * {
  margin-bottom: 0;
}

.page-route {
  font-size: 15px;
  text-align: end;
  padding-right: 15%;
}

.filters-container {
  display: flex;
  width: 33%;
  flex-direction: column;
}

.results-container {
  width: 67%;
  padding-right: 15%;
  margin-left: 20px;
}


.keyword-analysis-container {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.keyword-analysis {
  font-size: 19px;
  width: 120px;
  height: 40px;
  margin: 0px 5px;
  background-color: #52b9ff;
  border: none;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.keyword-analysis-help {
  background-image: url(src/assets/icons/07_help.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-right: 70px;
}
