.result-page {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
}

.keyword-analysis-container {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.keyword-analysis {
  padding: auto;
  text-align: center;
  background-color: #52b9ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 15px;
  margin-right: 5px;
}

.keyword-analysis-help {
  background-image: url(src/assets/icons/07_help.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-right: 70px;
}

.results {
  width: -webkit-fill-available;
  padding-right: 15%;
}
